In [50]:
import pandas as pd

In [51]:
hist_data = pd.read_csv("NE_buffered_1990s.csv")
hist_data

,fid,OBJECTID,COMID,GNIS_NAME,LENGTHKM,FTYPE,PU_CODE,TOTDASQKM,TIDAL,WBAREATYPE,...,HIQ1_5_HIST,HIQ10_HIST,HIQ25_HIST,LO7Q1_HIST,LO7Q10_HIST,BFI_HIST,LO7Q1DT_HIST,CFM_HIST,W95_HIST,SHAPE_Length
0,1,456026,3820563,,1.857,460,MS05,1.9746,0,NaN,...,3.333218,7.050051,10.166683,0.206541,0.178316,0.318910,254.342857,172.762614,11.917241,0.019032
1,2,456027,3820719,,1.714,460,MS05,1.4022,0,NaN,...,2.365358,5.007214,7.199864,0.146949,0.126855,0.318873,254.314286,172.826443,11.917241,0.018003
2,3,456028,3824263,,0.088,334,MS05,1.4256,0,NaN,...,2.404527,5.091005,7.314648,0.149476,0.129034,0.318859,254.414286,172.843537,11.917241,0.000977
3,4,456029,3822397,,1.357,460,MS05,5.8842,0,NaN,...,10.416898,22.182167,30.533639,0.629736,0.545379,0.317253,257.228571,173.681304,11.717241,0.013212
4,5,456030,3820721,,0.401,460,MS05,0.8712,0,NaN,...,1.470072,3.110688,4.481323,0.091189,0.078723,0.318904,254.342857,172.784820,11.903448,0.003968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345339,345340,2634814,10449782,,0.627,460,SA03N,12.0375,0,NaN,...,4.889134,10.987235,13.963183,0.473159,0.259122,0.303602,243.807143,174.785331,10.558621,0.005682
345340,345341,2634815,10449826,,0.055,460,SA03N,21944.0898,0,NaN,...,0.454634,1.022164,1.327049,0.038567,0.019883,0.278279,245.328571,173.238838,10.931034,0.000550
345341,345342,2634816,10449830,,0.180,460,SA03N,21944.1105,0,NaN,...,0.483446,1.084209,1.408003,0.041747,0.021697,0.281902,245.057143,173.430991,10.862069,0.001715
345342,345343,2634817,10449836,,0.312,460,SA03N,21944.1465,0,NaN,...,0.533965,1.195626,1.547888,0.047274,0.024866,0.287183,244.864286,173.712382,10.779310,0.003378
345343,345344,2634818,10449838,,0.429,460,SA03N,21944.1510,0,NaN,...,0.056472,0.128983,0.159879,0.006101,0.003463,0.326642,238.950000,176.237554,10.165517,0.004226

In [52]:
gauge_data = pd.read_csv("dv.csv", converters={'site_no': str})
site_no_list = gauge_data["site_no"].to_list()
len(site_no_list)

6452

In [53]:
import dataretrieval.nwis as nwis
import numpy as np

In [54]:
site_no_list

['01010000',
 '01010070',
 '01010100',
 '01010500',
 '01011000',
 '01012500',
 '01012515',
 '01012520',
 '01012525',
 '01012570',
 '01012960',
 '01013500',
 '01014000',
 '01015000',
 '01015010',
 '01015800',
 '01016500',
 '01017000',
 '01017060',
 '01017290',
 '01017500',
 '01017550',
 '01017900',
 '01017960',
 '01018000',
 '01018009',
 '01018035',
 '01018500',
 '01018900',
 '01019000',
 '01019300',
 '01020000',
 '01021000',
 '01021050',
 '01021060',
 '01021200',
 '01021230',
 '01021466',
 '01021470',
 '01021480',
 '01021500',
 '01022000',
 '01022210',
 '01022250',
 '01022260',
 '01022294',
 '01022295',
 '01022330',
 '01022500',
 '01022800',
 '01022805',
 '01022835',
 '01022840',
 '01022860',
 '10228955',
 '01023000',
 '01024200',
 '01025000',
 '01026000',
 '01027200',
 '01027240',
 '01028000',
 '01029200',
 '01029500',
 '01030000',
 '01030350',
 '01030500',
 '01031000',
 '01031300',
 '01031450',
 '01031500',
 '01031510',
 '01031600',
 '01033000',
 '01033500',
 '01034000',
 '01034500',
 '01035000',
 '01035500',
 '01036000',
 '01036390',
 '01036500',
 '01037000',
 '01037050',
 '01037380',
 '01037700',
 '01038000',
 '01039000',
 '01041000',
 '01042500',
 '01043500',
 '01044550',
 '01045000',
 '01046000',
 '01046500',
 '01047000',
 '01047150',
 '01047200',
 '01047500',
 '01047730',
 '01048000',
 '01048220',
 '01048500',
 '01049000',
 '01049130',
 '01049205',
 '01049218',
 '01049221',
 '01049265',
 '01049270',
 '01049300',
 '01049320',
 '01049330',
 '01049373',
 '01049396',
 '01049500',
 '01049505',
 '01049550',
 '01051620',
 '01051705',
 '01051715',
 '01052500',
 '01053500',
 '01053600',
 '01054000',
 '01054114',
 '01054200',
 '01054300',
 '01054500',
 '01055000',
 '01055100',
 '01055220',
 '01055500',
 '01056000',
 '01056400',
 '01056480',
 '01056505',
 '01057000',
 '01057510',
 '01058005',
 '01058500',
 '01059000',
 '01059010',
 '01059090',
 '01059160',
 '01059500',
 '01059555',
 '01059800',
 '01060000',
 '01063100',
 '01063310',
 '01063452',
 '01063995',
 '01064000',
 '01064118',
 '01064140',
 '01064158',
 '10642505',
 '01064300',
 '01064400',
 '01064485',
 '01064500',
 '01064800',
 '01064801',
 '01065000',
 '01065500',
 '01066000',
 '01066500',
 '01067000',
 '01067500',
 '01067851',
 '01067853',
 '01067950',
 '01068910',
 '01068980',
 '01069500',
 '01069700',
 '01069800',
 '01072100',
 '01072500',
 '01072800',
 '01072850',
 '01072870',
 '01072880',
 '01073000',
 '01073319',
 '01073389',
 '01073460',
 '01073500',
 '10735562',
 '01073587',
 '01073600',
 '01073750',
 '01073785',
 '01073810',
 '01073848',
 '01074500',
 '01074520',
 '01075000',
 '01075500',
 '01075800',
 '01076000',
 '01076500',
 '01077000',
 '01077400',
 '01078000',
 '01079600',
 '01079602',
 '01079900',
 '01080000',
 '01080500',
 '01081000',
 '01081500',
 '01082000',
 '01083000',
 '01083500',
 '01084000',
 '01084500',
 '01085000',
 '01085500',
 '01085800',
 '01086000',
 '01087000',
 '01088000',
 '01088500',
 '01089000',
 '01089100',
 '01089500',
 '01089925',
 '01090500',
 '01090800',
 '01091000',
 '01091500',
 '01092000',
 '01093000',
 '01093800',
 '01093852',
 '01093875',
 '01094000',
 '01094400',
 '01094500',
 '01095000',
 '01095220',
 '01095375',
 '01095434',
 '01095503',
 '01096000',
 '01096500',
 '01096503',
 '109650657',
 '01096508',
 '10965817',
 '10965844',
 '10965852',
 '01096587',
 '10965995',
 '01096835',
 '01096840',
 '01096885',
 '01096906',
 '01096910',
 '01097000',
 '01097300',
 '01097380',
 '01097480',
 '01098320',
 '01098340',
 '01098360',
 '01098450',
 '01098499',
 '01098500',
 '01098530',
 '01098710',
 '01099500',
 '01100000',
 '01100500',
 '01100505',
 '01100549',
 '01100561',
 '01100568',
 '01100571',
 '01100574',
 '01100600',
 '01100627',
 '01100693',
 '11006988',
 '01100700',
 '01100870',
 '01100890',
 '01101000',
 '01101300',
 '01101344',
 '01101400',
 '01101500',
 '01102000',
 '01102029',
 '11020308',
 '01102065',
 '01102345',
 '01102500',
 '01103010',
 '01103025',
 '01103038',
 '01103040',
 '01103050',
 '01103220',
 '01103280',
 '01103305',
 '01103455',
 '01103500',
 '01104000',
 '01104200',
 '01104370',
 '01104405',
 '01104410',
 '01104415',
 '01104420',
 '01104430',
 '01104440',
 '01104453',
 '01104455',
 '01104460',
 '01104475',
 '01104480',
 '01104500',
 '01104615',
 '01104630',
 '01104640',
 '01104660',
 '01104683',
 '01104687',
 '01104705',
 '01104715',
 '01104850',
 '01105000',
 '01105500',
 '01105554',
 '11055566',
 '01105557',
 '01105583',
 '01105584',
 '01105585',
 '01105600',
 '01105606',
 '01105608',
 '11056081',
 '01105638',
 '01105660',
 '01105700',
 '01105730',
 '01105765',
 '01105800',
 '01105870',
 '11058756',
 '01105876',
 '110587880',
 '01105880',
 '110588332',
 '110588340',
 '11058835951',
 '110588364',
 '11058837',
 '110588374',
 '1105883757',
 '01105885',
 '01105895',
 '01105917',
 '01105933',
 '01106000',
 '01106500',
 '01106900',
 '01107000',
 '01107200',
 '01107400',
 '01108000',
 '01108320',
 '01108410',
 '01108500',
 '01109000',
 '01109060',
 '01109070',
 '01109090',
 '01109200',
 '01109220',
 '01109403',
 '01109439',
 '01109500',
 '01109730',
 '01110000',
 '01110500',
 '01111000',
 '01111050',
 '01111212',
 '01111225',
 '01111230',
 '01111300',
 '01111400',
 '01111410',
 '01111500',
 '01112268',
 '01112382',
 '01112500',
 '01112700',
 '01113695',
 '01113710',
 '01113760',
 '01113895',
 '01114000',
 '01114500',
 '01115098',
 '01115100',
 '01115110',
 '01115114',
 '01115120',
 '01115170',
 '01115183',
 '01115184',
 '01115185',
 '01115187',
 '01115190',
 '01115265',
 '01115275',
 '01115276',
 '01115278',
 '01115280',
 '01115297',
 '01115500',
 '01115630',
 '01115670',
 '01115770',
 '01115900',
 '01116000',
 '01116300',
 '01116500',
 '01116905',
 '01117000',
 '01117100',
 '01117350',
 '11173545',
 '01117370',
 '01117410',
 '01117420',
 '01117424',
 '01117430',
 '01117468',
 '01117471',
 '01117472',
 '01117500',
 '01117600',
 '01117800',
 '01118000',
 '01118010',
 '01118300',
 '01118360',
 '01118400',
 '01118500',
 '01118520',
 '01118668',
 '01118700',
 '01119260',
 '01119280',
 '01119320',
 '01119382',
 '01119384',
 '01119480',
 '01119500',
 '01119600',
 '01119820',
 '01120000',
 '01120500',
 '01120790',
 '01120800',
 '01121000',
 '01121330',
 '01122000',
 '01122500',
 '01123000',
 '11230695',
 '01123360',
 '01123500',
 '01123600',
 '01124000',
 '01124151',
 '01124350',
 '01124500',
 '01124750',
 '01125000',
 '01125100',
 '01125415',
 '01125490',
 '01125500',
 '01125600',
 '01126000',
 '01126200',
 '01126500',
 '01126600',
 '01126910',
 '01126923',
 '01126950',
 '01127000',
 '01127500',
 '01127680',
 '01127729',
 '01127750',
 '11277696',
 '11277905',
 '11277914',
 '11277916',
 '01127821',
 '01127880',
 '01128500',
 '01129200',
 '01129440',
 '01129500',
 '01130000',
 '01131500',
 '01133000',
 '01133500',
 '01134500',
 '01134800',
 '01135000',
 '01135100',
 '01135150',
 '01135300',
 '01135500',
 '01136000',
 '01137500',
 '01137940',
 '01138000',
 '01138500',
 '01139000',
 '01139500',
 '01139800',
 '01139830',
 '01139833',
 '01139838',
 '01140000',
 '01140500',
 '01140570',
 '01140575',
 '01140580',
 '01140590',
 '01140600',
 '01140817',
 '01140820',
 '01141500',
 '01141800',
 '01142000',
 '01142500',
 '01143500',
 '01144000',
 '01144500',
 '01145000',
 '01150500',
 '01150800',
 '01150900',
 '01151000',
 '01151500',
 '01152010',
 '01152500',
 '01152800',
 '01153000',
 '01153500',
 '01153550',
 '01154000',
 '01154500',
 '01154950',
 '01155000',
 '01155200',
 '01155300',
 '01155500',
 '01155910',
 '01156000',
 '01156500',
 '01157000',
 '01158000',
 '01158110',
 '01158500',
 '01158600',
 '01159000',
 '01159500',
 '01159600',
 '01160000',
 '01160350',
 '01161000',
 '01161500',
 '01162000',
 '01162500',
 '01163000',
 '01163200',
 '01165300',
 '01165500',
 '01166105',
 '01166500',
 '01167800',
 '01168151',
 '01168250',
 '01168500',
 '01168639',
 '01168640',
 '01169000',
 '01169900',
 '01170000',
 '01170100',
 '01170500',
 '01170930',
 '01171000',
 '01171100',
 '01171300',
 '01171500',
 '01171800',
 '01172000',
 '01172003',
 '01172010',
 '01172500',
 '01172680',
 '01172800',
 '01173000',
 '01173260',
 '01173500',
 '01174000',
 '01174050',
 '01174500',
 '01174565',
 '01174570',
 '01174575',
 '01174600',
 '01174900',
 '01175500',
 '01175670',
 '01176000',
 '01176780',
 '01177000',
 '01178000',
 '01178500',
 '01179500',
 '01180000',
 '01180500',
 '01180800',
 '01181000',
 '01183450',
 '01183500',
 '01183950',
 '01183994',
 '01184000',
 '01184100',
 '01184205',
 '01184250',
 '01184280',
 '01184300',
 '01184325',
 '11844548',
 '11844549',
 '01184455',
 '01184470',
 '01184490',
 '01184500',
 '01185100',
 '01185500',
 '01186000',
 '01186100',
 '01186400',
 '01186500',
 '01187000',
 '01187300',
 '01187400',
 '01187680',
 '01187800',
 '01187830',
 '01187850',
 '01187980',
 '01188000',
 '01188090',
 '01189000',
 '01189180',
 '01189200',
 '01189210',
 '01189390',
 '01189500',
 '01189995',
 '01189999',
 '01190055',
 '01190057',
 '01190070',
 '01190095',
 '01190100',
 '01190200',
 '01190300',
 '01190500',
 '01190600',
 '01190620',
 '01190650',
 '01191000',
 '01191500',
 '01192370',
 '01192480',
 '01192500',
 '01192600',
 '01192610',
 '01192650',
 '01192692',
 '01192700',
 '01192704',
 '01192883',
 '01192890',
 '01193000',
 '01193050',
 '01193348',
 '01193450',
 '01193463',
 '01193465',
 '01193500',
 '01193630',
 '01193800',
 '01194000',
 '01194500',
 '01194750',
 '01194796',
 '01194815',
 '01195000',
 '01195100',
 '01195117',
 '01195146',
 '01195200',
 '01195290',
 '01195339',
 '01195399',
 '01195490',
 '01195500',
 '01196000',
 '01196100',
 '01196150',
 '01196210',
 '01196220',
 '01196259',
 '01196500',
 '01196561',
 '01196580',
 '01196620',
 '01196626',
 '01196680',
 '01197000',
 '01197015',
 '01197300',
 '01197500',
 '01198000',
 '01198030',
 '01198070',
 '01198075',
 '01198122',
 '01198125',
 '01198200',
 '01198240',
 '01198300',
 '01198500',
 '01198700',
 '01198800',
 '01198851',
 '01198860',
 '01198870',
 '01198880',
 '01199000',
 '01199030',
 '01199033',
 '01199050',
 '01199200',
 '01199290',
 '01199490',
 '01200000',
 '01200500',
 '01200600',
 '01201190',
 '01201420',
 '01201470',
 '01201487',
 '01201500',
 '01201510',
 '01201930',
 '01202500',
 '01202501',
 '01203000',
 '12035055',
 '01203510',
 '01203600',
 '01203805',
 '01204000',
 '01204800',
 '01205500',
 '01205600',
 '01205700',
 '01205890',
 '01206000',
 '01206400',
 '01206500',
 '01206900',
 '01208012',
 '01208171',
 '01208500',
 '01208850',
 '01208872',
 '01208873',
 '01208925',
 '01208950',
 '01208990',
 '01208999',
 '01209005',
 '01209105',
 '01209500',
 '12095493',
 '01209700',
 '01209710',
 '01209753',
 '01209761',
 '01209775',
 '01209785',
 '01209900',
 '01209901',
 '01211110',
 '12112296',
 '01211600',
 '01212100',
 '01212500',
 '01300000',
 '01300500',
 '01301000',
 '01301500',
 '01302000',
 '01302020',
 '01302050',
 '01302125',
 '01302250',
 '01302500',
 '01302600',
 '01302845',
 '01303000',
 '01303152',
 '01303500',
 '01304000',
 '01304057',
 '01304200',
 '01304250',
 '01304500',
 '01304562',
 '01304650',
 '01304655',
 '130469525',
 '01304702',
 '01304705',
 '01304746',
 '01304920',
 '01305000',
 '01305500',
 '01305575',
 '01306000',
 '01306402',
 '01306440',
 '01306460',
 '01306495',
 '01306499',
 '01306500',
 '01307000',
 '01307500',
 '01308000',
 '01308500',
 '01309000',
 '01309225',
 '01309500',
 '01309680',
 '01309950',
 '01309990',
 '01310000',
 '01310500',
 '01310521',
 '01310740',
 '131079450',
 '01311000',
 '01311143',
 '01311145',
 '01311500',
 '01311810',
 '01311850',
 '01311875',
 '131199050',
 '01311992',
 '01312000',
 '01313500',
 '01314000',
 '01314500',
 '01315000',
 '01315081',
 '01315170',
 '01315226',
 '01315227',
 '01315500',
 '01316000',
 '01317000',
 '01318000',
 '01318500',
 '01319000',
 '01319500',
 '01320500',
 '01321000',
 '01321500',
 '01322000',
 '01322500',
 '01323000',
 '01323500',
 '01325000',
 '01326500',
 '01327000',
 '01327500',
 '01327600',
 '01327750',
 '01327755',
 '01328000',
 '01328770',
 '01329000',
 '01329490',
 '01329500',
 '01329650',
 '01330000',
 '01330500',
 '01330884',
 '01331095',
 '01331400',
 '01331500',
 '01332000',
 '01332500',
 '01333000',
 '01333500',
 '01334000',
 '01334500',
 '01335000',
 '01335500',
 '01335754',
 '01335770',
 '01335900',
 '01336000',
 '01337005',
 '01338000',
 '01339060',
 '01342500',
 '01342602',
 '01342682',
 '01342730',
 '01342732',
 '01342743',
 '134277112',
 '134277114',
 '134277119',
 '134277121',
 '134277123',
 '01343060',
 '01343403',
 '01343900',
 '01344000',
 '01344500',
 '01344795',
 '01346000',
 '01346500',
 '01347000',
 '01347500',
 '01348000',
 '01349000',
 '01349150',
 '01349527',
 '01349541',
 '01349700',
 '01349705',
 '01349711',
 '01349810',
 '01349840',
 '01349858',
 '01349900',
 '01349950',
 '01350000',
 '01350032',
 '01350035',
 '01350080',
 '01350100',
 '01350101',
 '01350120',
 '01350140',
 '01350180',
 '01350200',
 '01350212',
 '01350355',
 '01350480',
 '01350500',
 '01350750',
 '01351000',
 '01351200',
 '01351298',
 '01351450',
 '01351500',
 '01353995',
 '135403025',
 '01354083',
 '01354230',
 '01354330',
 ...]

In [57]:
section1 = site_no_list[:500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list2 = []

for i in range(0, len(section1), chunk_size):
    chunk = section1[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list2.append(data)

In [58]:
data_list2

[                           00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       450.0             A  01010000
 1977-01-02 00:00:00+00:00       435.0             A  01010000
 1977-01-03 00:00:00+00:00       425.0             A  01010000
 1977-01-04 00:00:00+00:00       410.0             A  01010000
 1977-01-05 00:00:00+00:00       400.0             A  01010000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      2100.0          A, e  01010000
 2006-12-28 00:00:00+00:00      1680.0          A, e  01010000
 2006-12-29 00:00:00+00:00      1390.0          A, e  01010000
 2006-12-30 00:00:00+00:00      1220.0          A, e  01010000
 2006-12-31 00:00:00+00:00      1120.0          A, e  01010000

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1983-10-01 00:00:00+00:00        42.0             A  01010070
 1983-10-02 00:00:00+00:00        37.0             A  01010070
 1983-10-03 00:00:00+00:00        36.0             A  01010070
 1983-10-04 00:00:00+00:00        35.0             A  01010070
 1983-10-05 00:00:00+00:00        70.0             A  01010070
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       188.0          A, e  01010070
 2006-12-28 00:00:00+00:00       152.0          A, e  01010070
 2006-12-29 00:00:00+00:00       128.0          A, e  01010070
 2006-12-30 00:00:00+00:00       119.0          A, e  01010070
 2006-12-31 00:00:00+00:00       115.0          A, e  01010070

 [8493 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-04-07 00:00:00+00:00       580.0             A  01010100
 1977-04-08 00:00:00+00:00       520.0             A  01010100
 1977-04-09 00:00:00+00:00       460.0             A  01010100
 1977-04-10 00:00:00+00:00       420.0             A  01010100
 1977-04-11 00:00:00+00:00       380.0             A  01010100
 ...                               ...           ...       ...
 1980-10-04 00:00:00+00:00       403.0             A  01010100
 1980-10-05 00:00:00+00:00       763.0             A  01010100
 1980-10-06 00:00:00+00:00       590.0             A  01010100
 1980-10-07 00:00:00+00:00       392.0             A  01010100
 1980-10-08 00:00:00+00:00       299.0             A  01010100

 [904 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       705.0             A  01010500
 1977-01-02 00:00:00+00:00       680.0             A  01010500
 1977-01-03 00:00:00+00:00       665.0             A  01010500
 1977-01-04 00:00:00+00:00       655.0             A  01010500
 1977-01-05 00:00:00+00:00       640.0             A  01010500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      4740.0          A, e  01010500
 2006-12-28 00:00:00+00:00      3780.0          A, e  01010500
 2006-12-29 00:00:00+00:00      3030.0          A, e  01010500
 2006-12-30 00:00:00+00:00      2580.0          A, e  01010500
 2006-12-31 00:00:00+00:00      2360.0          A, e  01010500

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       445.0             A  01011000
 1977-01-02 00:00:00+00:00       430.0             A  01011000
 1977-01-03 00:00:00+00:00       420.0             A  01011000
 1977-01-04 00:00:00+00:00       415.0             A  01011000
 1977-01-05 00:00:00+00:00       400.0             A  01011000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1330.0          A, e  01011000
 2006-12-28 00:00:00+00:00      1180.0          A, e  01011000
 2006-12-29 00:00:00+00:00      1070.0          A, e  01011000
 2006-12-30 00:00:00+00:00      1020.0          A, e  01011000
 2006-12-31 00:00:00+00:00       993.0          A, e  01011000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1982-07-15 00:00:00+00:00       28.00             A  01012515
 1982-07-16 00:00:00+00:00        0.42             A  01012515
 1982-07-17 00:00:00+00:00        0.42             A  01012515
 1982-07-18 00:00:00+00:00        0.37             A  01012515
 1982-07-19 00:00:00+00:00        0.33             A  01012515
 ...                               ...           ...       ...
 1984-06-09 00:00:00+00:00       29.00             A  01012515
 1984-06-10 00:00:00+00:00       24.00             A  01012515
 1984-06-11 00:00:00+00:00       21.00             A  01012515
 1984-06-12 00:00:00+00:00       18.00             A  01012515
 1984-06-13 00:00:00+00:00       15.00             A  01012515

 [700 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1980-10-01 00:00:00+00:00        3.00             A  01012520
 1980-10-02 00:00:00+00:00        2.80             A  01012520
 1980-10-03 00:00:00+00:00        2.60             A  01012520
 1980-10-04 00:00:00+00:00        2.50             A  01012520
 1980-10-05 00:00:00+00:00        5.80             A  01012520
 ...                               ...           ...       ...
 1984-09-26 00:00:00+00:00        0.44             A  01012520
 1984-09-27 00:00:00+00:00        0.41             A  01012520
 1984-09-28 00:00:00+00:00        0.38             A  01012520
 1984-09-29 00:00:00+00:00        0.36             A  01012520
 1984-09-30 00:00:00+00:00        0.35             A  01012520

 [1461 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1981-11-05 00:00:00+00:00        2.10             A  01012525
 1981-11-06 00:00:00+00:00        2.00             A  01012525
 1981-11-07 00:00:00+00:00        2.50             A  01012525
 1981-11-08 00:00:00+00:00        2.60             A  01012525
 1981-11-09 00:00:00+00:00        2.20             A  01012525
 ...                               ...           ...       ...
 1984-09-26 00:00:00+00:00        0.27             A  01012525
 1984-09-27 00:00:00+00:00        0.25             A  01012525
 1984-09-28 00:00:00+00:00        0.23             A  01012525
 1984-09-29 00:00:00+00:00        0.22             A  01012525
 1984-09-30 00:00:00+00:00        0.20             A  01012525

 [1061 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1982-07-15 00:00:00+00:00         4.7             A  01012570
 1982-07-16 00:00:00+00:00         4.5             A  01012570
 1982-07-17 00:00:00+00:00         4.2             A  01012570
 1982-07-18 00:00:00+00:00         4.0             A  01012570
 1982-07-19 00:00:00+00:00         3.8             A  01012570
 ...                               ...           ...       ...
 1984-06-08 00:00:00+00:00       190.0             A  01012570
 1984-06-09 00:00:00+00:00       150.0             A  01012570
 1984-06-10 00:00:00+00:00       120.0             A  01012570
 1984-06-11 00:00:00+00:00       100.0             A  01012570
 1984-06-12 00:00:00+00:00        84.0             A  01012570

 [699 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       640.0             A  01013500
 1977-01-02 00:00:00+00:00       630.0             A  01013500
 1977-01-03 00:00:00+00:00       610.0             A  01013500
 1977-01-04 00:00:00+00:00       600.0             A  01013500
 1977-01-05 00:00:00+00:00       585.0             A  01013500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1120.0             A  01013500
 2006-12-28 00:00:00+00:00      1090.0             A  01013500
 2006-12-29 00:00:00+00:00      1050.0          A, e  01013500
 2006-12-30 00:00:00+00:00      1010.0          A, e  01013500
 2006-12-31 00:00:00+00:00       977.0          A, e  01013500

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      3200.0             A  01014000
 1977-01-02 00:00:00+00:00      3050.0             A  01014000
 1977-01-03 00:00:00+00:00      2900.0             A  01014000
 1977-01-04 00:00:00+00:00      2850.0             A  01014000
 1977-01-05 00:00:00+00:00      2800.0             A  01014000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      9140.0          A, e  01014000
 2006-12-28 00:00:00+00:00      7740.0          A, e  01014000
 2006-12-29 00:00:00+00:00      6450.0          A, e  01014000
 2006-12-30 00:00:00+00:00      5700.0          A, e  01014000
 2006-12-31 00:00:00+00:00      5350.0          A, e  01014000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       280.0             A  01015800
 1977-01-02 00:00:00+00:00       270.0             A  01015800
 1977-01-03 00:00:00+00:00       265.0             A  01015800
 1977-01-04 00:00:00+00:00       260.0             A  01015800
 1977-01-05 00:00:00+00:00       255.0             A  01015800
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      1630.0          A, e  01015800
 2006-12-28 00:00:00+00:00      1270.0          A, e  01015800
 2006-12-29 00:00:00+00:00      1080.0          A, e  01015800
 2006-12-30 00:00:00+00:00       977.0          A, e  01015800
 2006-12-31 00:00:00+00:00      1030.0          A, e  01015800

 [10957 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       100.0             A  01016500
 1977-01-02 00:00:00+00:00        98.0             A  01016500
 1977-01-03 00:00:00+00:00        95.0             A  01016500
 1977-01-04 00:00:00+00:00        91.0             A  01016500
 1977-01-05 00:00:00+00:00        88.0             A  01016500
 ...                               ...           ...       ...
 1983-10-17 00:00:00+00:00       322.0             A  01016500
 1983-10-18 00:00:00+00:00       290.0             A  01016500
 1983-10-19 00:00:00+00:00       268.0             A  01016500
 1983-10-20 00:00:00+00:00       243.0             A  01016500
 1983-10-21 00:00:00+00:00       225.0             A  01016500

 [2485 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       530.0             A  01017000
 1977-01-02 00:00:00+00:00       520.0             A  01017000
 1977-01-03 00:00:00+00:00       500.0             A  01017000
 1977-01-04 00:00:00+00:00       490.0             A  01017000
 1977-01-05 00:00:00+00:00       485.0             A  01017000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      2520.0          A, e  01017000
 2006-12-28 00:00:00+00:00      2220.0          A, e  01017000
 2006-12-29 00:00:00+00:00      1800.0          A, e  01017000
 2006-12-30 00:00:00+00:00      1560.0          A, e  01017000
 2006-12-31 00:00:00+00:00      1520.0          A, e  01017000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1999-11-01 00:00:00+00:00        8.00          A, e  01017550
 1999-11-02 00:00:00+00:00        7.20          A, e  01017550
 1999-11-03 00:00:00+00:00       12.00          A, e  01017550
 1999-11-04 00:00:00+00:00       19.00             A  01017550
 1999-11-05 00:00:00+00:00        9.40             A  01017550
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00        5.13          A, e  01017550
 2006-12-28 00:00:00+00:00        4.46          A, e  01017550
 2006-12-29 00:00:00+00:00        3.41          A, e  01017550
 2006-12-30 00:00:00+00:00        3.26          A, e  01017550
 2006-12-31 00:00:00+00:00        3.19          A, e  01017550

 [2618 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00        0.84             A  01017900
 1977-01-02 00:00:00+00:00        0.82             A  01017900
 1977-01-03 00:00:00+00:00        0.80             A  01017900
 1977-01-04 00:00:00+00:00        0.79             A  01017900
 1977-01-05 00:00:00+00:00        0.78             A  01017900
 ...                               ...           ...       ...
 1982-10-03 00:00:00+00:00        1.70             A  01017900
 1982-10-04 00:00:00+00:00        1.20             A  01017900
 1982-10-05 00:00:00+00:00        0.94             A  01017900
 1982-10-06 00:00:00+00:00        0.80             A  01017900
 1982-10-07 00:00:00+00:00        0.76             A  01017900

 [2106 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2003-10-01 00:00:00+00:00        65.1             A  01017960
 2003-10-02 00:00:00+00:00        51.7             A  01017960
 2003-10-03 00:00:00+00:00        58.3             A  01017960
 2003-10-04 00:00:00+00:00        56.5             A  01017960
 2003-10-05 00:00:00+00:00        98.6             A  01017960
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       193.0          A, e  01017960
 2006-12-28 00:00:00+00:00       151.0          A, e  01017960
 2006-12-29 00:00:00+00:00       132.0          A, e  01017960
 2006-12-30 00:00:00+00:00       121.0          A, e  01017960
 2006-12-31 00:00:00+00:00       114.0          A, e  01017960

 [1188 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       115.0             A  01018000
 1977-01-02 00:00:00+00:00       110.0             A  01018000
 1977-01-03 00:00:00+00:00       105.0             A  01018000
 1977-01-04 00:00:00+00:00        94.0             A  01018000
 1977-01-05 00:00:00+00:00        87.0             A  01018000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       380.0             A  01018000
 2006-12-28 00:00:00+00:00       296.0          A, e  01018000
 2006-12-29 00:00:00+00:00       261.0          A, e  01018000
 2006-12-30 00:00:00+00:00       234.0          A, e  01018000
 2006-12-31 00:00:00+00:00       221.0          A, e  01018000

 [3294 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2005-07-01 00:00:00+00:00       146.0             A  01018035
 2005-07-02 00:00:00+00:00       134.0             A  01018035
 2005-07-03 00:00:00+00:00       119.0             A  01018035
 2005-07-04 00:00:00+00:00       106.0             A  01018035
 2005-07-05 00:00:00+00:00        92.0             A  01018035
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       535.0             A  01018035
 2006-12-28 00:00:00+00:00       408.0          A, e  01018035
 2006-12-29 00:00:00+00:00       361.0          A, e  01018035
 2006-12-30 00:00:00+00:00       322.0          A, e  01018035
 2006-12-31 00:00:00+00:00       306.0          A, e  01018035

 [549 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       518.0             A  01018500
 1977-01-02 00:00:00+00:00       519.0             A  01018500
 1977-01-03 00:00:00+00:00       519.0             A  01018500
 1977-01-04 00:00:00+00:00       519.0             A  01018500
 1977-01-05 00:00:00+00:00       519.0             A  01018500
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       835.0             A  01018500
 2006-12-28 00:00:00+00:00       767.0             A  01018500
 2006-12-29 00:00:00+00:00       766.0             A  01018500
 2006-12-30 00:00:00+00:00       764.0             A  01018500
 2006-12-31 00:00:00+00:00       762.0             A  01018500

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       350.0             A  01019000
 1977-01-02 00:00:00+00:00       350.0             A  01019000
 1977-01-03 00:00:00+00:00       345.0             A  01019000
 1977-01-04 00:00:00+00:00       340.0             A  01019000
 1977-01-05 00:00:00+00:00       340.0             A  01019000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       134.0             A  01019000
 2006-12-28 00:00:00+00:00       134.0             A  01019000
 2006-12-29 00:00:00+00:00       136.0          A, e  01019000
 2006-12-30 00:00:00+00:00       137.0          A, e  01019000
 2006-12-31 00:00:00+00:00       138.0          A, e  01019000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      2340.0             A  01020000
 1977-01-02 00:00:00+00:00      2350.0             A  01020000
 1977-01-03 00:00:00+00:00      2350.0             A  01020000
 1977-01-04 00:00:00+00:00      2320.0             A  01020000
 1977-01-05 00:00:00+00:00      2310.0             A  01020000
 ...                               ...           ...       ...
 1983-09-26 00:00:00+00:00      1800.0             A  01020000
 1983-09-27 00:00:00+00:00      1790.0             A  01020000
 1983-09-28 00:00:00+00:00      1790.0             A  01020000
 1983-09-29 00:00:00+00:00      1790.0             A  01020000
 1983-09-30 00:00:00+00:00      1790.0             A  01020000

 [2464 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00      2360.0             A  01021000
 1977-01-02 00:00:00+00:00      2260.0             A  01021000
 1977-01-03 00:00:00+00:00      2300.0             A  01021000
 1977-01-04 00:00:00+00:00      2520.0             A  01021000
 1977-01-05 00:00:00+00:00      2500.0             A  01021000
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00      3370.0             A  01021000
 2006-12-28 00:00:00+00:00      2730.0             A  01021000
 2006-12-29 00:00:00+00:00      2900.0             A  01021000
 2006-12-30 00:00:00+00:00      2780.0             A  01021000
 2006-12-31 00:00:00+00:00      2710.0             A  01021000

 [10957 rows x 3 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 1977-01-01 00:00:00+00:00       218.0             A  01021200
 1977-01-02 00:00:00+00:00       196.0             A  01021200
 1977-01-03 00:00:00+00:00       175.0             A  01021200
 1977-01-04 00:00:00+00:00       161.0             A  01021200
 1977-01-05 00:00:00+00:00       157.0             A  01021200
 ...                               ...           ...       ...
 2006-12-27 00:00:00+00:00       288.0             A  01021200
 2006-12-28 00:00:00+00:00       220.0             A  01021200
 2006-12-29 00:00:00+00:00       170.0             A  01021200
 2006-12-30 00:00:00+00:00       170.0          A, e  01021200
 2006-12-31 00:00:00+00:00       140.0             A  01021200

 [9990 rows x 3 columns],
                            00060_Mean 00060_Mean_cd   site_no
 datetime
 2004-05-20 00:00:00+00:00       71.10          A, e  01021230
 2004-05-21 00:00:00+00:00       59.10             A  01021230
 2004-05-22 00:00:00+00:00       54.30             A  01021230
 2004-05-23 00:00:00+00:00       55.10             A  01021230
 2004-05-24 00:00:00+00:00       58.60             A  01021230
 ...                               ...           ...       ...

In [69]:
sec1 = pd.concat(data_list2)
section1 = sec1.to_csv('section1.csv', index=False)

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/2241752449.py:7: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list2[i] = pd.read_csv('section1.csv', converters={'site_no': lambda x: str(x).zfill(8)})

KeyboardInterrupt:

In [67]:
pd.read_csv('section1.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_85194/3710991460.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section1.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_upstream site_Mean,00060_upstream site_Mean_cd,00060_mystic valley parkway_Mean,00060_mystic valley parkway_Mean_cd,00060_2_Mean,00060_2_Mean_cd
0,1977-01-01 00:00:00+00:00,450.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,435.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,425.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,410.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,400.0,A,1010000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1528547,2006-12-27 00:00:00+00:00,1940.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528548,2006-12-28 00:00:00+00:00,1740.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528549,2006-12-29 00:00:00+00:00,1580.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528550,2006-12-30 00:00:00+00:00,1440.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN
1528551,2006-12-31 00:00:00+00:00,1350.0,A,1127000,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
section2 = site_no_list[501:1000]

In [51]:
start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list3 = []

for i in range(0, len(section2), chunk_size):
    chunk = section2[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list3.append(data)

In [52]:
sec2 = pd.concat(data_list3)
section2 = sec2.to_csv('section2.csv')
pd.read_csv('section2.csv')

         00060_Mean 00060_Mean_cd  site_no
0               3.8             A  1127880
1               3.8             A  1127880
2               3.9             A  1127880
3               3.8             A  1127880
4               3.1             A  1127880
...             ...           ...      ...
1655172      1190.0             A  1351500
1655173       873.0             A  1351500
1655174       726.0             A  1351500
1655175       643.0             A  1351500
1655176       606.0             A  1351500

[1655177 rows x 3 columns]

In [8]:
section3 = site_no_list[1001:1500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list4 = []

for i in range(0, len(section3), chunk_size):
    chunk = section3[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list4.append(data)
        
sec3 = pd.concat(data_list4)
section3 = sec3.to_csv('section3.csv')
pd.read_csv('section3.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/1791794883.py:20: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section3.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_2_Mean,00060_2_Mean_cd,00060_upstream of dam_Mean,00060_upstream of dam_Mean_cd,00060_downstream of dam_Mean,00060_downstream of dam_Mean_cd
0,1993-08-26 00:00:00+00:00,1.30,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-27 00:00:00+00:00,1.20,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-28 00:00:00+00:00,1.20,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-29 00:00:00+00:00,1.10,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-30 00:00:00+00:00,0.96,A,1356190,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1272165,2006-12-27 00:00:00+00:00,3480.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272166,2006-12-28 00:00:00+00:00,3150.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272167,2006-12-29 00:00:00+00:00,2850.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272168,2006-12-30 00:00:00+00:00,2500.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN
1272169,2006-12-31 00:00:00+00:00,2140.00,A,1427207,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
section4 = site_no_list[1501:2000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list5 = []

for i in range(0, len(section4), chunk_size):
    chunk = section4[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list5.append(data)
        
sec4 = pd.concat(data_list5)
section4 = sec4.to_csv('section4.csv')
pd.read_csv('section4.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/1526296035.py:20: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section4.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_2_Mean,00060_2_Mean_cd
0,1977-01-01 00:00:00+00:00,56.00,A,1427500,NaN,NaN
1,1977-01-02 00:00:00+00:00,56.00,A,1427500,NaN,NaN
2,1977-01-03 00:00:00+00:00,56.00,A,1427500,NaN,NaN
3,1977-01-04 00:00:00+00:00,56.00,A,1427500,NaN,NaN
4,1977-01-05 00:00:00+00:00,54.00,A,1427500,NaN,NaN
...,...,...,...,...,...,...
1226625,2005-09-25 00:00:00+00:00,7.78,A,1484270,NaN,NaN
1226626,2005-09-26 00:00:00+00:00,7.27,A,1484270,NaN,NaN
1226627,2005-09-27 00:00:00+00:00,8.50,A,1484270,NaN,NaN
1226628,2005-09-28 00:00:00+00:00,8.69,A,1484270,NaN,NaN
1226629,2005-09-29 00:00:00+00:00,8.58,A,1484270,NaN,NaN

In [10]:
section5 = site_no_list[2001:2500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list6 = []

for i in range(0, len(section5), chunk_size):
    chunk = section5[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list6.append(data)
        
sec5 = pd.concat(data_list6)
section5 = sec5.to_csv('section5.csv')
pd.read_csv('section5.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/2200115470.py:20: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section5.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_daily mean with diversions_Mean,00060_daily mean with diversions_Mean_cd,00060_discontinued_Mean,00060_discontinued_Mean_cd
0,1977-01-01 00:00:00+00:00,10.0,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,8.0,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,7.7,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,7.9,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,8.4,A,1484300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1568505,2006-12-27 00:00:00+00:00,43.1,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568506,2006-12-28 00:00:00+00:00,38.9,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568507,2006-12-29 00:00:00+00:00,36.2,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568508,2006-12-30 00:00:00+00:00,34.6,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568509,2006-12-31 00:00:00+00:00,33.7,A,1586610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
section6 = site_no_list[2501:3000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list7 = []

for i in range(0, len(section6), chunk_size):
    chunk = section6[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list7.append(data)
        
sec6 = pd.concat(data_list7)
section6 = sec6.to_csv('section6.csv')
pd.read_csv('section6.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3312528299.py:20: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section6.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_discontinued_Mean,00060_discontinued_Mean_cd
0,1977-01-01 00:00:00+00:00,73.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,75.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,80.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,80.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,80.0,A,1589000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1876248,2006-12-27 00:00:00+00:00,313.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876249,2006-12-28 00:00:00+00:00,354.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876250,2006-12-29 00:00:00+00:00,380.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876251,2006-12-30 00:00:00+00:00,413.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN
1876252,2006-12-31 00:00:00+00:00,400.0,A,2042500,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
section7 = site_no_list[3001:3500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list8 = []

for i in range(0, len(section7), chunk_size):
    chunk = section7[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list8.append(data)
        
sec7 = pd.concat(data_list8)
section7 = sec7.to_csv('section7.csv')
pd.read_csv('section7.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/1091893593.py:20: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section7.csv')

,datetime,00060_Maximum,00060_Maximum_cd,site_no,00060_Minimum,00060_Minimum_cd,00060_Mean,00060_Mean_cd
0,2006-01-05 00:00:00+00:00,593.0,A,2043120,-234.0,A,69.9,A
1,2006-01-06 00:00:00+00:00,1410.0,A,2043120,-319.0,A,299.0,A
2,2006-01-07 00:00:00+00:00,522.0,A,2043120,-279.0,A,NaN,NaN
3,2006-01-08 00:00:00+00:00,280.0,A,2043120,-293.0,A,NaN,NaN
4,2006-01-09 00:00:00+00:00,546.0,A,2043120,-288.0,A,NaN,NaN
...,...,...,...,...,...,...,...,...
1574137,2006-12-27 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,102.0,A
1574138,2006-12-28 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,90.0,A
1574139,2006-12-29 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,84.5,A
1574140,2006-12-30 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,80.3,A
1574141,2006-12-31 00:00:00+00:00,NaN,NaN,3165000,NaN,NaN,88.8,A

In [13]:
section8 = site_no_list[3501:4000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list9 = []

for i in range(0, len(section8), chunk_size):
    chunk = section8[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list9.append(data)
        
sec8 = pd.concat(data_list9)
section8 = sec8.to_csv('section8.csv')
pd.read_csv('section8.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3949758669.py:20: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section8.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_2_Mean,00060_2_Mean_cd,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_daily mean_Mean,00060_daily mean_Mean_cd
0,1977-01-01 00:00:00+00:00,0.20,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,0.18,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,0.25,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,0.35,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,0.38,A,3166800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1434144,1992-01-29 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,561.0,A,475.0,A,NaN,NaN
1434145,1992-01-30 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,472.0,A,366.0,A,NaN,NaN
1434146,1992-01-31 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,365.0,A,303.0,A,NaN,NaN
1434147,1992-02-01 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,300.0,A,270.0,A,NaN,NaN
1434148,1992-02-02 00:00:00+00:00,NaN,NaN,3384180,NaN,NaN,270.0,A,241.0,A,NaN,NaN

In [14]:
section9 = site_no_list[4001:4500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list10 = []

for i in range(0, len(section9), chunk_size):
    chunk = section9[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list10.append(data)
        
sec9 = pd.concat(data_list10)
section9 = sec9.to_csv('section9.csv')
pd.read_csv('section9.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/2883258826.py:20: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('section9.csv')

,datetime,00060_Mean,00060_Mean_cd,site_no,00060_Maximum,00060_Maximum_cd,00060_Minimum,00060_Minimum_cd,00060_from usacoe buffalo_Mean,00060_from usacoe buffalo_Mean_cd,00060_river channel only_Mean,00060_river channel only_Mean_cd
0,1977-01-01 00:00:00+00:00,72.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1977-01-02 00:00:00+00:00,72.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-01-03 00:00:00+00:00,72.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977-01-04 00:00:00+00:00,68.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1977-01-05 00:00:00+00:00,76.0,A,3400500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1420385,2006-12-27 00:00:00+00:00,134.0,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420386,2006-12-28 00:00:00+00:00,63.9,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420387,2006-12-29 00:00:00+00:00,48.4,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420388,2006-12-30 00:00:00+00:00,45.4,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420389,2006-12-31 00:00:00+00:00,490.0,A,7024000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
section10 = site_no_list[4501:5000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list11 = []

for i in range(0, len(section10), chunk_size):
    chunk = section10[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list11.append(data)
        
sec10 = pd.concat(data_list11)
section10 = sec10.to_csv('section10.csv')
pd.read_csv('section10.csv')

[Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],

In [16]:
section11 = site_no_list[5001:5500]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list12 = []

for i in range(0, len(section11), chunk_size):
    chunk = section11[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list12.append(data)
        
sec11 = pd.concat(data_list12)
section11 = sec11.to_csv('section11.csv')
pd.read_csv('section11.csv')

                       datetime  00060_Mean 00060_Mean_cd          site_no
0     1977-01-01 00:00:00+00:00        0.00             A  383231076411301
1     1977-01-02 00:00:00+00:00        0.12             A  383231076411301
2     1977-01-03 00:00:00+00:00        0.00             A  383231076411301
3     1977-01-04 00:00:00+00:00        0.21             A  383231076411301
4     1977-01-05 00:00:00+00:00        0.00             A  383231076411301
...                         ...         ...           ...              ...
2189  1989-09-29 00:00:00+00:00        0.59             A  391805077550701
2190  1989-09-30 00:00:00+00:00        0.59             A  391805077550701
2191  1989-10-01 00:00:00+00:00        0.55             A  391805077550701
2192  1989-10-02 00:00:00+00:00        0.78             A  391805077550701
2193  1989-10-03 00:00:00+00:00        0.61             A  391805077550701

[2194 rows x 4 columns]

In [73]:
site_no_list[5001:5500]

['3.82129E+14',
 '3.82129E+14',
 '3.82131E+14',
 '3.8215E+14',
 '3.82154E+14',
 '3.82205E+14',
 '3.82215E+14',
 '3.82325E+14',
 '3.82329E+14',
 '3.82407E+14',
 '3.82443E+14',
 '3.82523E+14',
 '3.82549E+14',
 '3.82635E+14',
 '3.82718E+14',
 '3.831E+14',
 '3.831E+14',
 '3.83112E+14',
 '3.83122E+14',
 '3.83122E+14',
 '3.83152E+14',
 '3.83152E+14',
 '3.83155E+14',
 '3.83155E+14',
 '3.83211E+14',
 '3.83211E+14',
 '3.83211E+14',
 '3.83231E+14',
 '3.83238E+14',
 '3.83239E+14',
 '3.83248E+14',
 '3.83248E+14',
 '3.8325E+14',
 '3.83348E+14',
 '3.83348E+14',
 '3.83423E+14',
 '3.83455E+14',
 '3.8373E+14',
 '3.83734E+14',
 '3.83746E+14',
 '3.83828E+14',
 '3.84122E+14',
 '3.84133E+14',
 '3.84134E+14',
 '3.84137E+14',
 '3.84138E+14',
 '3.84143E+14',
 '3.84152E+14',
 '3.84153E+14',
 '3.84157E+14',
 '3.84333E+14',
 '3.84348E+14',
 '3.84428E+14',
 '3.84526E+14',
 '3.84637E+14',
 '3.84704E+14',
 '3.84821E+14',
 '3.84911E+14',
 '3.84933E+14',
 '3.84957E+14',
 '3.85041E+14',
 '3.85207E+14',
 '3.8522E+14',
 '3.85257E+14',
 '3.85309E+14',
 '3.85334E+14',
 '3.85428E+14',
 '3.85451E+14',
 '3.85536E+14',
 '3.85607E+14',
 '3.85607E+14',
 '3.85616E+14',
 '3.85638E+14',
 '3.8565E+14',
 '3.85655E+14',
 '3.85709E+14',
 '3.85748E+14',
 '3.85755E+14',
 '3.85756E+14',
 '3.85804E+14',
 '3.85849E+14',
 '3.85912E+14',
 '3.90002E+14',
 '3.9001E+14',
 '3.90012E+14',
 '3.90038E+14',
 '3.90058E+14',
 '3.90121E+14',
 '3.90122E+14',
 '3.90135E+14',
 '3.90138E+14',
 '3.90151E+14',
 '3.90156E+14',
 '3.9021E+14',
 '3.90211E+14',
 '3.90226E+14',
 '3.90242E+14',
 '3.90328E+14',
 '3.90333E+14',
 '3.90348E+14',
 '3.90422E+14',
 '3.90425E+14',
 '3.90438E+14',
 '3.90507E+14',
 '3.90527E+14',
 '3.90529E+14',
 '3.90605E+14',
 '3.90608E+14',
 '3.90612E+14',
 '3.90623E+14',
 '3.90657E+14',
 '3.90723E+14',
 '3.90743E+14',
 '3.90756E+14',
 '3.90756E+14',
 '3.90804E+14',
 '3.90808E+14',
 '3.90808E+14',
 '3.90822E+14',
 '3.90822E+14',
 '3.90826E+14',
 '3.90826E+14',
 '3.9083E+14',
 '3.90832E+14',
 '3.90832E+14',
 '3.90837E+14',
 '3.90837E+14',
 '3.90927E+14',
 '3.90948E+14',
 '3.9102E+14',
 '3.91142E+14',
 '3.91145E+14',
 '3.91226E+14',
 '3.91253E+14',
 '3.91257E+14',
 '3.91303E+14',
 '3.91308E+14',
 '3.91311E+14',
 '3.9132E+14',
 '3.91328E+14',
 '3.91407E+14',
 '3.91413E+14',
 '3.91413E+14',
 '3.91451E+14',
 '3.91533E+14',
 '3.91542E+14',
 '3.91556E+14',
 '3.91602E+14',
 '3.91621E+14',
 '3.91621E+14',
 '3.91652E+14',
 '3.9171E+14',
 '3.91712E+14',
 '3.91726E+14',
 '3.91757E+14',
 '3.91805E+14',
 '3.91821E+14',
 '3.91827E+14',
 '3.91828E+14',
 '3.9192E+14',
 '3.91933E+14',
 '3.91955E+14',
 '3.92017E+14',
 '3.92032E+14',
 '3.92045E+14',
 '3.92047E+14',
 '3.92104E+14',
 '3.92153E+14',
 '3.922E+14',
 '3.92219E+14',
 '3.92232E+14',
 '3.92232E+14',
 '3.92259E+14',
 '3.92436E+14',
 '3.92512E+14',
 '3.92512E+14',
 '3.92517E+14',
 '3.92517E+14',
 '3.92517E+14',
 '3.92518E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92521E+14',
 '3.92536E+14',
 '3.92536E+14',
 '3.92536E+14',
 '3.92537E+14',
 '3.92537E+14',
 '3.92544E+14',
 '3.92544E+14',
 '3.92548E+14',
 '3.9255E+14',
 '3.92552E+14',
 '3.92556E+14',
 '3.92556E+14',
 '3.92556E+14',
 '3.92605E+14',
 '3.92703E+14',
 '3.92725E+14',
 '3.92731E+14',
 '3.92732E+14',
 '3.92733E+14',
 '3.92754E+14',
 '3.92757E+14',
 '3.92901E+14',
 '3.92902E+14',
 '3.92904E+14',
 '3.92904E+14',
 '3.92904E+14',
 '3.92914E+14',
 '3.9292E+14',
 '3.92922E+14',
 '3.92923E+14',
 '3.92931E+14',
 '3.92933E+14',
 '3.92933E+14',
 '3.92933E+14',
 '3.92933E+14',
 '3.93043E+14',
 '3.93055E+14',
 '3.93055E+14',
 '3.93057E+14',
 '3.93115E+14',
 '3.93126E+14',
 '3.93127E+14',
 '3.93133E+14',
 '3.93148E+14',
 '3.93158E+14',
 '3.93211E+14',
 '3.93217E+14',
 '3.93232E+14',
 '3.93232E+14',
 '3.93246E+14',
 '3.93333E+14',
 '3.93348E+14',
 '3.93348E+14',
 '3.93348E+14',
 '3.93352E+14',
 '3.93402E+14',
 '3.93418E+14',
 '3.93541E+14',
 '3.93541E+14',
 '3.93548E+14',
 '3.93551E+14',
 '3.93551E+14',
 '3.93551E+14',
 '3.93551E+14',
 '3.93552E+14',
 '3.93553E+14',
 '3.93553E+14',
 '3.93557E+14',
 '3.93558E+14',
 '3.93558E+14',
 '3.93603E+14',
 '3.93603E+14',
 '3.93603E+14',
 '3.93603E+14',
 '3.93603E+14',
 '3.93603E+14',
 '3.93604E+14',
 '3.93611E+14',
 '3.93615E+14',
 '3.93616E+14',
 '3.93616E+14',
 '3.93617E+14',
 '3.93617E+14',
 '3.93617E+14',
 '3.93617E+14',
 '3.93617E+14',
 '3.93617E+14',
 '3.93622E+14',
 '3.93622E+14',
 '3.93622E+14',
 '3.93725E+14',
 '3.93733E+14',
 '3.93749E+14',
 '3.93749E+14',
 '3.93807E+14',
 '3.93814E+14',
 '3.93851E+14',
 '3.93908E+14',
 '3.93941E+14',
 '3.93959E+14',
 '3.94008E+14',
 '3.94024E+14',
 '3.94031E+14',
 '3.94036E+14',
 '3.94037E+14',
 '3.9405E+14',
 '3.94106E+14',
 '3.94119E+14',
 '3.94132E+14',
 '3.94138E+14',
 '3.94138E+14',
 '3.94138E+14',
 '3.94153E+14',
 '3.94205E+14',
 '3.94215E+14',
 '3.94215E+14',
 '3.94215E+14',
 '3.94215E+14',
 '3.94221E+14',
 '3.94235E+14',
 '3.94236E+14',
 '3.94237E+14',
 '3.94256E+14',
 '3.94308E+14',
 '3.94332E+14',
 '3.94336E+14',
 '3.94337E+14',
 '3.94343E+14',
 '3.94354E+14',
 '3.94407E+14',
 '3.94407E+14',
 '3.9441E+14',
 '3.94422E+14',
 '3.9443E+14',
 '3.9444E+14',
 '3.94442E+14',
 '3.94443E+14',
 '3.94444E+14',
 '3.94445E+14',
 '3.94446E+14',
 '3.94452E+14',
 '3.94513E+14',
 '3.94533E+14',
 '3.94601E+14',
 '3.94606E+14',
 '3.94606E+14',
 '3.94624E+14',
 '3.94637E+14',
 '3.94637E+14',
 '3.94637E+14',
 '3.94652E+14',
 '3.94652E+14',
 '3.94655E+14',
 '3.94726E+14',
 '3.94731E+14',
 '3.94738E+14',
 '3.94742E+14',
 '3.94755E+14',
 '3.94755E+14',
 '3.94755E+14',
 '3.94755E+14',
 '3.94755E+14',
 '3.94755E+14',
 '3.94755E+14',
 '3.948E+14',
 '3.948E+14',
 '3.94802E+14',
 '3.94804E+14',
 '3.94804E+14',
 '3.94807E+14',
 '3.94808E+14',
 '3.94808E+14',
 '3.94808E+14',
 '3.94808E+14',
 '3.94812E+14',
 '3.94829E+14',
 '3.94829E+14',
 '3.94829E+14',
 '3.94843E+14',
 '3.94851E+14',
 '3.94851E+14',
 '3.94902E+14',
 '3.94902E+14',
 '3.94903E+14',
 '3.94904E+14',
 '3.94908E+14',
 '3.94908E+14',
 '3.94912E+14',
 '3.94916E+14',
 '3.94922E+14',
 '3.94922E+14',
 '3.94937E+14',
 '3.94942E+14',
 '3.94943E+14',
 '3.94957E+14',
 '3.95E+14',
 '3.95028E+14',
 '3.95034E+14',
 '3.9504E+14',
 '3.95043E+14',
 '3.95043E+14',
 '3.95045E+14',
 '3.95045E+14',
 '3.95046E+14',
 '3.95046E+14',
 '3.95048E+14',
 '3.95048E+14',
 '3.95049E+14',
 '3.95049E+14',
 '3.95049E+14',
 '3.95052E+14',
 '3.95052E+14',
 '3.951E+14',
 '3.951E+14',
 '3.95122E+14',
 '3.95122E+14',
 '3.9515E+14',
 '3.95152E+14',
 '3.95152E+14',
 '3.95202E+14',
 '3.95202E+14',
 '3.95206E+14',
 '3.95217E+14',
 '3.95229E+14',
 '3.95229E+14',
 '3.95232E+14',
 '3.95243E+14',
 '3.95244E+14',
 '3.95245E+14',
 '3.95246E+14',
 '3.95259E+14',
 '3.95301E+14',
 '3.95301E+14',
 '3.95309E+14',
 '3.95309E+14',
 '3.95312E+14',
 '3.95312E+14',
 '3.95313E+14',
 '3.95313E+14',
 '3.95314E+14',
 '3.95314E+14',
 '3.95315E+14',
 '3.95316E+14',
 '3.95318E+14',
 '3.95322E+14',
 '3.95322E+14',
 '3.95323E+14',
 '3.95327E+14',
 '3.95342E+14',
 '3.95355E+14',
 '3.95355E+14',
 '3.95355E+14',
 '3.95358E+14',
 '3.95403E+14',
 '3.95433E+14',
 '3.9545E+14',
 '3.95502E+14',
 '3.95512E+14',
 '3.95515E+14',
 '3.95519E+14',
 '3.95524E+14',
 '3.95524E+14',
 '3.95525E+14',
 '3.95525E+14',
 '3.95526E+14',
 '3.95532E+14',
 '3.95609E+14',
 '3.95609E+14',
 '3.95658E+14',
 '3.95714E+14',
 '3.95755E+14',
 '3.95801E+14',
 '3.95807E+14',
 '3.95811E+14',
 '3.95812E+14',
 '3.95823E+14',
 '3.95823E+14',
 '3.95823E+14',
 '3.9583E+14',
 '3.95838E+14',
 '3.95841E+14',
 '3.95845E+14',
 '3.95846E+14',
 '3.95846E+14',
 '3.95855E+14',
 '3.95913E+14',
 '3.9592E+14',
 '3.95928E+14',
 '3.9593E+14',
 '3.95947E+14',
 '3.95947E+14',
 '3.95947E+14',
 '3.95947E+14',
 '3.95956E+14',
 '3.95957E+14',
 '3.95957E+14',
 '3.95957E+14',
 '3.95957E+14',
 '3.95958E+14',
 '4.00008E+14',
 '4.0001E+14',
 '4.00051E+14',
 '4.00058E+14',
 '4.00104E+14',
 '4.00112E+14',
 '4.0012E+14',
 '4.00122E+14',
 '4.00123E+14',
 '4.00148E+14',
 '4.00148E+14',
 '4.00207E+14']

In [18]:
section12 = site_no_list[5501:6000]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list13 = []

for i in range(0, len(section12), chunk_size):
    chunk = section12[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list13.append(data)
        
sec12 = pd.concat(data_list13)
section12 = sec12.to_csv('section12.csv')
pd.read_csv('section12.csv')

                       datetime  00060_Mean 00060_Mean_cd          site_no
0     2000-08-02 00:00:00+00:00        3.30             A  403542076263201
1     2000-08-03 00:00:00+00:00        2.30             A  403542076263201
2     2000-08-04 00:00:00+00:00        2.10             A  403542076263201
3     2000-08-05 00:00:00+00:00        3.20             A  403542076263201
4     2000-08-06 00:00:00+00:00        2.10             A  403542076263201
...                         ...         ...           ...              ...
2338  2006-12-27 00:00:00+00:00        5.43             A  403542076263201
2339  2006-12-28 00:00:00+00:00        6.86             A  403542076263201
2340  2006-12-29 00:00:00+00:00        6.54             A  403542076263201
2341  2006-12-30 00:00:00+00:00        7.53             A  403542076263201
2342  2006-12-31 00:00:00+00:00        8.13             A  403542076263201

[2343 rows x 4 columns]

In [19]:
section13 = site_no_list[6000:]

start_date = '1977-01-01'
end_date = '2006-12-31'
paramcode = '00060'

chunk_size = 50 

data_list14 = []

for i in range(0, len(section13), chunk_size):
    chunk = section13[i:i + chunk_size]
    
    for site_no in chunk:
        data = nwis.get_record(site=site_no, parameterCd=paramcode, service='dv', start=start_date, end=end_date)
        data_list14.append(data)
        
sec13 = pd.concat(data_list14)
section13 = sec13.to_csv('section13.csv')
pd.read_csv('section13.csv')

                      datetime  00060_Mean 00060_Mean_cd          site_no
0    1988-02-01 00:00:00+00:00        56.0          A, e  411214079465802
1    1988-02-02 00:00:00+00:00       160.0          A, e  411214079465802
2    1988-02-03 00:00:00+00:00       100.0          A, e  411214079465802
3    1988-02-04 00:00:00+00:00        60.0          A, e  411214079465802
4    1988-02-05 00:00:00+00:00        42.0          A, e  411214079465802
..                         ...         ...           ...              ...
270  1988-10-28 00:00:00+00:00         4.9             A  411214079465802
271  1988-10-29 00:00:00+00:00         4.7             A  411214079465802
272  1988-10-30 00:00:00+00:00         4.3             A  411214079465802
273  1988-10-31 00:00:00+00:00         4.0             A  411214079465802
274  1988-11-01 00:00:00+00:00         4.0             A  411214079465802

[275 rows x 4 columns]

In [30]:
section_1 = pd.read_csv('section1.csv')
section_2 = pd.read_csv('section2.csv')
section_3 = pd.read_csv('section3.csv')
section_4 = pd.read_csv('section4.csv')
section_5 = pd.read_csv('section5.csv')
section_6 = pd.read_csv('section6.csv')
section_7 = pd.read_csv('section7.csv')
section_8 = pd.read_csv('section8.csv')
section_9 = pd.read_csv('section9.csv')
section_11 = pd.read_csv('section11.csv')
section_12 = pd.read_csv('section12.csv')
section_13 = pd.read_csv('section13.csv')

/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:1: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  section_1 = pd.read_csv('section1.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:3: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  section_3 = pd.read_csv('section3.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  section_4 = pd.read_csv('section4.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:5: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  section_5 = pd.read_csv('section5.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:6: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  section_6 = pd.read_csv('section6.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:7: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  section_7 = pd.read_csv('section7.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:8: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  section_8 = pd.read_csv('section8.csv')
/var/folders/_z/j1tz7y5s2kq6cgxd5dszn_440000gn/T/ipykernel_8323/3284119409.py:9: DtypeWarning: Columns (5,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  section_9 = pd.read_csv('section9.csv')

In [46]:
alldata = pd.concat([section_1, section_2, section_3, section_4, section_5, section_6, section_7, section_8, section_9, section_11, section_12, section_13])

alldatadf = alldata[['00060_Mean', 'site_no', 'datetime']]

alldatadf.to_csv('streamdatadf.csv')

In [55]:
data = pd.read_csv('streamdatadf.csv', dtype={'site_no': str}, low_memory=False)
site_nos = pd.read_csv('dv.csv')

In [56]:
data

          Unnamed: 0  00060_Mean          site_no                   datetime
0                  0       450.0          1010000  1977-01-01 00:00:00+00:00
1                  1       435.0          1010000  1977-01-02 00:00:00+00:00
2                  2       425.0          1010000  1977-01-03 00:00:00+00:00
3                  3       410.0          1010000  1977-01-04 00:00:00+00:00
4                  4       400.0          1010000  1977-01-05 00:00:00+00:00
...              ...         ...              ...                        ...
13560780         270         4.9  411214079465802  1988-10-28 00:00:00+00:00
13560781         271         4.7  411214079465802  1988-10-29 00:00:00+00:00
13560782         272         4.3  411214079465802  1988-10-30 00:00:00+00:00
13560783         273         4.0  411214079465802  1988-10-31 00:00:00+00:00
13560784         274         4.0  411214079465802  1988-11-01 00:00:00+00:00

[13560785 rows x 4 columns]

In [8]:
merged_data = pd.merge(data, site_nos, on='site_no', how='inner')

In [13]:
merged_data.to_csv('merged_data.csv')

https://help.waterdata.usgs.gov/code/parameter_cd_query?fmt=rdb&group_cd=PHY&inline=true

This site contains info for the physical parameter codes USGS uses. 

The data does not appear to contain anything other than a daily value, just for the mean?

https://help.waterdata.usgs.gov/stat_code - this has the statistic code descriptions

get drainage area associated with each gauge - where do i find that?

ipython - interactive python

In [6]:
nwis.get_info(sites='01010000')

(  agency_cd   site_no                                station_nm site_tp_cd  \
 0      USGS  01010000  St. John River at Ninemile Bridge, Maine         ST

    lat_va  long_va  dec_lat_va  dec_long_va coord_meth_cd coord_acy_cd  ...  \
 0  464202   694256   46.700556   -69.715556             N            S  ...

   local_time_fg reliability_cd  gw_file_cd  nat_aqfr_cd  aqfr_cd aqfr_type_cd  \
 0             Y            NaN    NNNNNNNN          NaN      NaN          NaN

    well_depth_va hole_depth_va  depth_src_cd  project_no
 0            NaN           NaN           NaN   442300100

 [1 rows x 42 columns],
 NWIS_Metadata(url=https://waterservices.usgs.gov/nwis/site?sites=01010000&siteOutput=Expanded&format=rdb))

In [8]:
_6[0].columns

Index(['agency_cd', 'site_no', 'station_nm', 'site_tp_cd', 'lat_va', 'long_va',
       'dec_lat_va', 'dec_long_va', 'coord_meth_cd', 'coord_acy_cd',
       'coord_datum_cd', 'dec_coord_datum_cd', 'district_cd', 'state_cd',
       'county_cd', 'country_cd', 'land_net_ds', 'map_nm', 'map_scale_fc',
       'alt_va', 'alt_meth_cd', 'alt_acy_va', 'alt_datum_cd', 'huc_cd',
       'basin_cd', 'topo_cd', 'instruments_cd', 'construction_dt',
       'inventory_dt', 'drain_area_va', 'contrib_drain_area_va', 'tz_cd',
       'local_time_fg', 'reliability_cd', 'gw_file_cd', 'nat_aqfr_cd',
       'aqfr_cd', 'aqfr_type_cd', 'well_depth_va', 'hole_depth_va',
       'depth_src_cd', 'project_no'],
      dtype='object')

In [55]:
data.dtypes

Unnamed: 0      int64
00060_Mean    float64
site_no         int64
datetime       object
dtype: object

In [43]:
data = pd.read_csv('streamdatadf.csv', converters={'site_no': str}, low_memory=False)
data

          Unnamed: 0  00060_Mean          site_no                   datetime
0                  0       450.0          1010000  1977-01-01 00:00:00+00:00
1                  1       435.0          1010000  1977-01-02 00:00:00+00:00
2                  2       425.0          1010000  1977-01-03 00:00:00+00:00
3                  3       410.0          1010000  1977-01-04 00:00:00+00:00
4                  4       400.0          1010000  1977-01-05 00:00:00+00:00
...              ...         ...              ...                        ...
13560780         270         4.9  411214079465802  1988-10-28 00:00:00+00:00
13560781         271         4.7  411214079465802  1988-10-29 00:00:00+00:00
13560782         272         4.3  411214079465802  1988-10-30 00:00:00+00:00
13560783         273         4.0  411214079465802  1988-10-31 00:00:00+00:00
13560784         274         4.0  411214079465802  1988-11-01 00:00:00+00:00

[13560785 rows x 4 columns]

In [45]:
def convert_site_no(site_no):
    return str(site_no).zfill(15)

data = pd.read_csv('streamdatadf.csv', converters={'site_no': convert_site_no}, low_memory=False)

In [46]:
data

          Unnamed: 0  00060_Mean          site_no                   datetime
0                  0       450.0  000000001010000  1977-01-01 00:00:00+00:00
1                  1       435.0  000000001010000  1977-01-02 00:00:00+00:00
2                  2       425.0  000000001010000  1977-01-03 00:00:00+00:00
3                  3       410.0  000000001010000  1977-01-04 00:00:00+00:00
4                  4       400.0  000000001010000  1977-01-05 00:00:00+00:00
...              ...         ...              ...                        ...
13560780         270         4.9  411214079465802  1988-10-28 00:00:00+00:00
13560781         271         4.7  411214079465802  1988-10-29 00:00:00+00:00
13560782         272         4.3  411214079465802  1988-10-30 00:00:00+00:00
13560783         273         4.0  411214079465802  1988-10-31 00:00:00+00:00
13560784         274         4.0  411214079465802  1988-11-01 00:00:00+00:00

[13560785 rows x 4 columns]

In [49]:
site_no_list

['01010000',
 '01010070',
 '01010100',
 '01010500',
 '01011000',
 '01012500',
 '01012515',
 '01012520',
 '01012525',
 '01012570',
 '01012960',
 '01013500',
 '01014000',
 '01015000',
 '01015010',
 '01015800',
 '01016500',
 '01017000',
 '01017060',
 '01017290',
 '01017500',
 '01017550',
 '01017900',
 '01017960',
 '01018000',
 '01018009',
 '01018035',
 '01018500',
 '01018900',
 '01019000',
 '01019300',
 '01020000',
 '01021000',
 '01021050',
 '01021060',
 '01021200',
 '01021230',
 '01021466',
 '01021470',
 '01021480',
 '01021500',
 '01022000',
 '01022210',
 '01022250',
 '01022260',
 '01022294',
 '01022295',
 '01022330',
 '01022500',
 '01022800',
 '01022805',
 '01022835',
 '01022840',
 '01022860',
 '10228955',
 '01023000',
 '01024200',
 '01025000',
 '01026000',
 '01027200',
 '01027240',
 '01028000',
 '01029200',
 '01029500',
 '01030000',
 '01030350',
 '01030500',
 '01031000',
 '01031300',
 '01031450',
 '01031500',
 '01031510',
 '01031600',
 '01033000',
 '01033500',
 '01034000',
 '01034500',
 '01035000',
 '01035500',
 '01036000',
 '01036390',
 '01036500',
 '01037000',
 '01037050',
 '01037380',
 '01037700',
 '01038000',
 '01039000',
 '01041000',
 '01042500',
 '01043500',
 '01044550',
 '01045000',
 '01046000',
 '01046500',
 '01047000',
 '01047150',
 '01047200',
 '01047500',
 '01047730',
 '01048000',
 '01048220',
 '01048500',
 '01049000',
 '01049130',
 '01049205',
 '01049218',
 '01049221',
 '01049265',
 '01049270',
 '01049300',
 '01049320',
 '01049330',
 '01049373',
 '01049396',
 '01049500',
 '01049505',
 '01049550',
 '01051620',
 '01051705',
 '01051715',
 '01052500',
 '01053500',
 '01053600',
 '01054000',
 '01054114',
 '01054200',
 '01054300',
 '01054500',
 '01055000',
 '01055100',
 '01055220',
 '01055500',
 '01056000',
 '01056400',
 '01056480',
 '01056505',
 '01057000',
 '01057510',
 '01058005',
 '01058500',
 '01059000',
 '01059010',
 '01059090',
 '01059160',
 '01059500',
 '01059555',
 '01059800',
 '01060000',
 '01063100',
 '01063310',
 '01063452',
 '01063995',
 '01064000',
 '01064118',
 '01064140',
 '01064158',
 '10642505',
 '01064300',
 '01064400',
 '01064485',
 '01064500',
 '01064800',
 '01064801',
 '01065000',
 '01065500',
 '01066000',
 '01066500',
 '01067000',
 '01067500',
 '01067851',
 '01067853',
 '01067950',
 '01068910',
 '01068980',
 '01069500',
 '01069700',
 '01069800',
 '01072100',
 '01072500',
 '01072800',
 '01072850',
 '01072870',
 '01072880',
 '01073000',
 '01073319',
 '01073389',
 '01073460',
 '01073500',
 '10735562',
 '01073587',
 '01073600',
 '01073750',
 '01073785',
 '01073810',
 '01073848',
 '01074500',
 '01074520',
 '01075000',
 '01075500',
 '01075800',
 '01076000',
 '01076500',
 '01077000',
 '01077400',
 '01078000',
 '01079600',
 '01079602',
 '01079900',
 '01080000',
 '01080500',
 '01081000',
 '01081500',
 '01082000',
 '01083000',
 '01083500',
 '01084000',
 '01084500',
 '01085000',
 '01085500',
 '01085800',
 '01086000',
 '01087000',
 '01088000',
 '01088500',
 '01089000',
 '01089100',
 '01089500',
 '01089925',
 '01090500',
 '01090800',
 '01091000',
 '01091500',
 '01092000',
 '01093000',
 '01093800',
 '01093852',
 '01093875',
 '01094000',
 '01094400',
 '01094500',
 '01095000',
 '01095220',
 '01095375',
 '01095434',
 '01095503',
 '01096000',
 '01096500',
 '01096503',
 '109650657',
 '01096508',
 '10965817',
 '10965844',
 '10965852',
 '01096587',
 '10965995',
 '01096835',
 '01096840',
 '01096885',
 '01096906',
 '01096910',
 '01097000',
 '01097300',
 '01097380',
 '01097480',
 '01098320',
 '01098340',
 '01098360',
 '01098450',
 '01098499',
 '01098500',
 '01098530',
 '01098710',
 '01099500',
 '01100000',
 '01100500',
 '01100505',
 '01100549',
 '01100561',
 '01100568',
 '01100571',
 '01100574',
 '01100600',
 '01100627',
 '01100693',
 '11006988',
 '01100700',
 '01100870',
 '01100890',
 '01101000',
 '01101300',
 '01101344',
 '01101400',
 '01101500',
 '01102000',
 '01102029',
 '11020308',
 '01102065',
 '01102345',
 '01102500',
 '01103010',
 '01103025',
 '01103038',
 '01103040',
 '01103050',
 '01103220',
 '01103280',
 '01103305',
 '01103455',
 '01103500',
 '01104000',
 '01104200',
 '01104370',
 '01104405',
 '01104410',
 '01104415',
 '01104420',
 '01104430',
 '01104440',
 '01104453',
 '01104455',
 '01104460',
 '01104475',
 '01104480',
 '01104500',
 '01104615',
 '01104630',
 '01104640',
 '01104660',
 '01104683',
 '01104687',
 '01104705',
 '01104715',
 '01104850',
 '01105000',
 '01105500',
 '01105554',
 '11055566',
 '01105557',
 '01105583',
 '01105584',
 '01105585',
 '01105600',
 '01105606',
 '01105608',
 '11056081',
 '01105638',
 '01105660',
 '01105700',
 '01105730',
 '01105765',
 '01105800',
 '01105870',
 '11058756',
 '01105876',
 '110587880',
 '01105880',
 '110588332',
 '110588340',
 '11058835951',
 '110588364',
 '11058837',
 '110588374',
 '1105883757',
 '01105885',
 '01105895',
 '01105917',
 '01105933',
 '01106000',
 '01106500',
 '01106900',
 '01107000',
 '01107200',
 '01107400',
 '01108000',
 '01108320',
 '01108410',
 '01108500',
 '01109000',
 '01109060',
 '01109070',
 '01109090',
 '01109200',
 '01109220',
 '01109403',
 '01109439',
 '01109500',
 '01109730',
 '01110000',
 '01110500',
 '01111000',
 '01111050',
 '01111212',
 '01111225',
 '01111230',
 '01111300',
 '01111400',
 '01111410',
 '01111500',
 '01112268',
 '01112382',
 '01112500',
 '01112700',
 '01113695',
 '01113710',
 '01113760',
 '01113895',
 '01114000',
 '01114500',
 '01115098',
 '01115100',
 '01115110',
 '01115114',
 '01115120',
 '01115170',
 '01115183',
 '01115184',
 '01115185',
 '01115187',
 '01115190',
 '01115265',
 '01115275',
 '01115276',
 '01115278',
 '01115280',
 '01115297',
 '01115500',
 '01115630',
 '01115670',
 '01115770',
 '01115900',
 '01116000',
 '01116300',
 '01116500',
 '01116905',
 '01117000',
 '01117100',
 '01117350',
 '11173545',
 '01117370',
 '01117410',
 '01117420',
 '01117424',
 '01117430',
 '01117468',
 '01117471',
 '01117472',
 '01117500',
 '01117600',
 '01117800',
 '01118000',
 '01118010',
 '01118300',
 '01118360',
 '01118400',
 '01118500',
 '01118520',
 '01118668',
 '01118700',
 '01119260',
 '01119280',
 '01119320',
 '01119382',
 '01119384',
 '01119480',
 '01119500',
 '01119600',
 '01119820',
 '01120000',
 '01120500',
 '01120790',
 '01120800',
 '01121000',
 '01121330',
 '01122000',
 '01122500',
 '01123000',
 '11230695',
 '01123360',
 '01123500',
 '01123600',
 '01124000',
 '01124151',
 '01124350',
 '01124500',
 '01124750',
 '01125000',
 '01125100',
 '01125415',
 '01125490',
 '01125500',
 '01125600',
 '01126000',
 '01126200',
 '01126500',
 '01126600',
 '01126910',
 '01126923',
 '01126950',
 '01127000',
 '01127500',
 '01127680',
 '01127729',
 '01127750',
 '11277696',
 '11277905',
 '11277914',
 '11277916',
 '01127821',
 '01127880',
 '01128500',
 '01129200',
 '01129440',
 '01129500',
 '01130000',
 '01131500',
 '01133000',
 '01133500',
 '01134500',
 '01134800',
 '01135000',
 '01135100',
 '01135150',
 '01135300',
 '01135500',
 '01136000',
 '01137500',
 '01137940',
 '01138000',
 '01138500',
 '01139000',
 '01139500',
 '01139800',
 '01139830',
 '01139833',
 '01139838',
 '01140000',
 '01140500',
 '01140570',
 '01140575',
 '01140580',
 '01140590',
 '01140600',
 '01140817',
 '01140820',
 '01141500',
 '01141800',
 '01142000',
 '01142500',
 '01143500',
 '01144000',
 '01144500',
 '01145000',
 '01150500',
 '01150800',
 '01150900',
 '01151000',
 '01151500',
 '01152010',
 '01152500',
 '01152800',
 '01153000',
 '01153500',
 '01153550',
 '01154000',
 '01154500',
 '01154950',
 '01155000',
 '01155200',
 '01155300',
 '01155500',
 '01155910',
 '01156000',
 '01156500',
 '01157000',
 '01158000',
 '01158110',
 '01158500',
 '01158600',
 '01159000',
 '01159500',
 '01159600',
 '01160000',
 '01160350',
 '01161000',
 '01161500',
 '01162000',
 '01162500',
 '01163000',
 '01163200',
 '01165300',
 '01165500',
 '01166105',
 '01166500',
 '01167800',
 '01168151',
 '01168250',
 '01168500',
 '01168639',
 '01168640',
 '01169000',
 '01169900',
 '01170000',
 '01170100',
 '01170500',
 '01170930',
 '01171000',
 '01171100',
 '01171300',
 '01171500',
 '01171800',
 '01172000',
 '01172003',
 '01172010',
 '01172500',
 '01172680',
 '01172800',
 '01173000',
 '01173260',
 '01173500',
 '01174000',
 '01174050',
 '01174500',
 '01174565',
 '01174570',
 '01174575',
 '01174600',
 '01174900',
 '01175500',
 '01175670',
 '01176000',
 '01176780',
 '01177000',
 '01178000',
 '01178500',
 '01179500',
 '01180000',
 '01180500',
 '01180800',
 '01181000',
 '01183450',
 '01183500',
 '01183950',
 '01183994',
 '01184000',
 '01184100',
 '01184205',
 '01184250',
 '01184280',
 '01184300',
 '01184325',
 '11844548',
 '11844549',
 '01184455',
 '01184470',
 '01184490',
 '01184500',
 '01185100',
 '01185500',
 '01186000',
 '01186100',
 '01186400',
 '01186500',
 '01187000',
 '01187300',
 '01187400',
 '01187680',
 '01187800',
 '01187830',
 '01187850',
 '01187980',
 '01188000',
 '01188090',
 '01189000',
 '01189180',
 '01189200',
 '01189210',
 '01189390',
 '01189500',
 '01189995',
 '01189999',
 '01190055',
 '01190057',
 '01190070',
 '01190095',
 '01190100',
 '01190200',
 '01190300',
 '01190500',
 '01190600',
 '01190620',
 '01190650',
 '01191000',
 '01191500',
 '01192370',
 '01192480',
 '01192500',
 '01192600',
 '01192610',
 '01192650',
 '01192692',
 '01192700',
 '01192704',
 '01192883',
 '01192890',
 '01193000',
 '01193050',
 '01193348',
 '01193450',
 '01193463',
 '01193465',
 '01193500',
 '01193630',
 '01193800',
 '01194000',
 '01194500',
 '01194750',
 '01194796',
 '01194815',
 '01195000',
 '01195100',
 '01195117',
 '01195146',
 '01195200',
 '01195290',
 '01195339',
 '01195399',
 '01195490',
 '01195500',
 '01196000',
 '01196100',
 '01196150',
 '01196210',
 '01196220',
 '01196259',
 '01196500',
 '01196561',
 '01196580',
 '01196620',
 '01196626',
 '01196680',
 '01197000',
 '01197015',
 '01197300',
 '01197500',
 '01198000',
 '01198030',
 '01198070',
 '01198075',
 '01198122',
 '01198125',
 '01198200',
 '01198240',
 '01198300',
 '01198500',
 '01198700',
 '01198800',
 '01198851',
 '01198860',
 '01198870',
 '01198880',
 '01199000',
 '01199030',
 '01199033',
 '01199050',
 '01199200',
 '01199290',
 '01199490',
 '01200000',
 '01200500',
 '01200600',
 '01201190',
 '01201420',
 '01201470',
 '01201487',
 '01201500',
 '01201510',
 '01201930',
 '01202500',
 '01202501',
 '01203000',
 '12035055',
 '01203510',
 '01203600',
 '01203805',
 '01204000',
 '01204800',
 '01205500',
 '01205600',
 '01205700',
 '01205890',
 '01206000',
 '01206400',
 '01206500',
 '01206900',
 '01208012',
 '01208171',
 '01208500',
 '01208850',
 '01208872',
 '01208873',
 '01208925',
 '01208950',
 '01208990',
 '01208999',
 '01209005',
 '01209105',
 '01209500',
 '12095493',
 '01209700',
 '01209710',
 '01209753',
 '01209761',
 '01209775',
 '01209785',
 '01209900',
 '01209901',
 '01211110',
 '12112296',
 '01211600',
 '01212100',
 '01212500',
 '01300000',
 '01300500',
 '01301000',
 '01301500',
 '01302000',
 '01302020',
 '01302050',
 '01302125',
 '01302250',
 '01302500',
 '01302600',
 '01302845',
 '01303000',
 '01303152',
 '01303500',
 '01304000',
 '01304057',
 '01304200',
 '01304250',
 '01304500',
 '01304562',
 '01304650',
 '01304655',
 '130469525',
 '01304702',
 '01304705',
 '01304746',
 '01304920',
 '01305000',
 '01305500',
 '01305575',
 '01306000',
 '01306402',
 '01306440',
 '01306460',
 '01306495',
 '01306499',
 '01306500',
 '01307000',
 '01307500',
 '01308000',
 '01308500',
 '01309000',
 '01309225',
 '01309500',
 '01309680',
 '01309950',
 '01309990',
 '01310000',
 '01310500',
 '01310521',
 '01310740',
 '131079450',
 '01311000',
 '01311143',
 '01311145',
 '01311500',
 '01311810',
 '01311850',
 '01311875',
 '131199050',
 '01311992',
 '01312000',
 '01313500',
 '01314000',
 '01314500',
 '01315000',
 '01315081',
 '01315170',
 '01315226',
 '01315227',
 '01315500',
 '01316000',
 '01317000',
 '01318000',
 '01318500',
 '01319000',
 '01319500',
 '01320500',
 '01321000',
 '01321500',
 '01322000',
 '01322500',
 '01323000',
 '01323500',
 '01325000',
 '01326500',
 '01327000',
 '01327500',
 '01327600',
 '01327750',
 '01327755',
 '01328000',
 '01328770',
 '01329000',
 '01329490',
 '01329500',
 '01329650',
 '01330000',
 '01330500',
 '01330884',
 '01331095',
 '01331400',
 '01331500',
 '01332000',
 '01332500',
 '01333000',
 '01333500',
 '01334000',
 '01334500',
 '01335000',
 '01335500',
 '01335754',
 '01335770',
 '01335900',
 '01336000',
 '01337005',
 '01338000',
 '01339060',
 '01342500',
 '01342602',
 '01342682',
 '01342730',
 '01342732',
 '01342743',
 '134277112',
 '134277114',
 '134277119',
 '134277121',
 '134277123',
 '01343060',
 '01343403',
 '01343900',
 '01344000',
 '01344500',
 '01344795',
 '01346000',
 '01346500',
 '01347000',
 '01347500',
 '01348000',
 '01349000',
 '01349150',
 '01349527',
 '01349541',
 '01349700',
 '01349705',
 '01349711',
 '01349810',
 '01349840',
 '01349858',
 '01349900',
 '01349950',
 '01350000',
 '01350032',
 '01350035',
 '01350080',
 '01350100',
 '01350101',
 '01350120',
 '01350140',
 '01350180',
 '01350200',
 '01350212',
 '01350355',
 '01350480',
 '01350500',
 '01350750',
 '01351000',
 '01351200',
 '01351298',
 '01351450',
 '01351500',
 '01353995',
 '135403025',
 '01354083',
 '01354230',
 '01354330',
 ...]

xarray 

id, date

mean q [id, date]
lat [id]
long[id]
drainage area [id]


make string for those numbers with zeros in front of them

In [10]:
import xarray as xr

In [11]:
data2 = data.groupby('site_no')

In [12]:
data3 = {v[0]: v[1].set_index('datetime')['00060_Mean'] for v in list(data2)}

In [13]:
def remove_dupl(f):
    return f[~f.index.duplicated(keep='first')]

In [37]:
df = pd.concat([remove_dupl(data3[k]).rename(k) for k in list(data3.keys())], axis=1)

In [38]:
df

,1010000,1010070,1010100,1010500,1011000,1012515,1012520,1012525,1012570,1013500,...,4292700,4292770,4292800,4293000,4293500,4294000,4294300,4296000,4296500,7024000
datetime,,,,,,,,,,,,,,,,,,,,,
1977-01-01 00:00:00+00:00,450.0,NaN,NaN,705.0,445.0,NaN,NaN,NaN,NaN,640.0,...,NaN,NaN,NaN,78.0,320.0,NaN,NaN,79.0,69.0,23.0
1977-01-02 00:00:00+00:00,435.0,NaN,NaN,680.0,430.0,NaN,NaN,NaN,NaN,630.0,...,NaN,NaN,NaN,77.0,310.0,NaN,NaN,78.0,110.0,23.0
1977-01-03 00:00:00+00:00,425.0,NaN,NaN,665.0,420.0,NaN,NaN,NaN,NaN,610.0,...,NaN,NaN,NaN,76.0,300.0,NaN,NaN,76.0,200.0,22.0
1977-01-04 00:00:00+00:00,410.0,NaN,NaN,655.0,415.0,NaN,NaN,NaN,NaN,600.0,...,NaN,NaN,NaN,80.0,320.0,NaN,NaN,74.0,215.0,22.0
1977-01-05 00:00:00+00:00,400.0,NaN,NaN,640.0,400.0,NaN,NaN,NaN,NaN,585.0,...,NaN,NaN,NaN,80.0,320.0,NaN,NaN,74.0,213.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-12-28 00:00:00+00:00,1680.0,152.0,NaN,3780.0,1180.0,NaN,NaN,NaN,NaN,1090.0,...,NaN,2.46,NaN,249.0,1070.0,2370.0,82.0,236.0,403.0,63.9
2006-12-29 00:00:00+00:00,1390.0,128.0,NaN,3030.0,1070.0,NaN,NaN,NaN,NaN,1050.0,...,NaN,1.90,NaN,165.0,880.0,1580.0,61.0,192.0,372.0,48.4
2006-12-30 00:00:00+00:00,1220.0,119.0,NaN,2580.0,1020.0,NaN,NaN,NaN,NaN,1010.0,...,NaN,1.70,NaN,130.0,690.0,1150.0,47.0,167.0,334.0,45.4
2006-12-31 00:00:00+00:00,1120.0,115.0,NaN,2360.0,993.0,NaN,NaN,NaN,NaN,977.0,...,NaN,1.90,NaN,180.0,830.0,1200.0,55.0,173.0,298.0,490.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.to_csv('guage_data.csv')

In [16]:
# nwis.get_info(sites='01010000')

(  agency_cd   site_no                                station_nm site_tp_cd  \
 0      USGS  01010000  St. John River at Ninemile Bridge, Maine         ST

    lat_va  long_va  dec_lat_va  dec_long_va coord_meth_cd coord_acy_cd  ...  \
 0  464202   694256   46.700556   -69.715556             N            S  ...

   local_time_fg reliability_cd  gw_file_cd  nat_aqfr_cd  aqfr_cd aqfr_type_cd  \
 0             Y            NaN    NNNNNNNN          NaN      NaN          NaN

    well_depth_va hole_depth_va  depth_src_cd  project_no
 0            NaN           NaN           NaN   442300100

 [1 rows x 42 columns],
 NWIS_Metadata(url=https://waterservices.usgs.gov/nwis/site?sites=01010000&siteOutput=Expanded&format=rdb))

In [17]:
# nwis.get_info(sites='01010100')

(  agency_cd   site_no                                       station_nm  \
 0      USGS  01010100  Shields Br Big Black River nr Seven Islands, ME

   site_tp_cd     lat_va    long_va  dec_lat_va  dec_long_va coord_meth_cd  \
 0         ST  465629.85  693858.11   46.941625   -69.649475             N

    coord_acy_cd  ... local_time_fg reliability_cd  gw_file_cd  nat_aqfr_cd  \
 0             5  ...             Y            NaN    NNNNNNNN          NaN

    aqfr_cd aqfr_type_cd  well_depth_va  hole_depth_va  depth_src_cd  \
 0      NaN          NaN            NaN            NaN           NaN

    project_no
 0         NaN

 [1 rows x 42 columns],
 NWIS_Metadata(url=https://waterservices.usgs.gov/nwis/site?sites=01010100&siteOutput=Expanded&format=rdb))

In [18]:
# site_no_list[10]

'01012960'

In [35]:
str_sites = []
good_sites = []
for c in df.columns:
    try:
        str_sites.append(site_no_list[np.where(np.array(site_no_list).astype('float64') - c == 0)[0][0]])
        good_sites.append(c)
    except:
        pass

In [36]:
# str_sites

[]

In [20]:
# df = df.loc[:, good_sites].rename(columns={good_sites[i]: str_sites[i] for i in range(len(str_sites))})

In [27]:
# df = pd.read_csv('guage_data.csv')
# df

,datetime,1010000,1010070,1010100,1010500,1011000,1012515,1012520,1012525,1012570,...,4292700,4292770,4292800,4293000,4293500,4294000,4294300,4296000,4296500,7024000
0,1977-01-01 00:00:00+00:00,450.0,NaN,NaN,705.0,445.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,78.0,320.0,NaN,NaN,79.0,69.0,23.0
1,1977-01-02 00:00:00+00:00,435.0,NaN,NaN,680.0,430.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,77.0,310.0,NaN,NaN,78.0,110.0,23.0
2,1977-01-03 00:00:00+00:00,425.0,NaN,NaN,665.0,420.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.0,300.0,NaN,NaN,76.0,200.0,22.0
3,1977-01-04 00:00:00+00:00,410.0,NaN,NaN,655.0,415.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.0,320.0,NaN,NaN,74.0,215.0,22.0
4,1977-01-05 00:00:00+00:00,400.0,NaN,NaN,640.0,400.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.0,320.0,NaN,NaN,74.0,213.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10953,2006-12-28 00:00:00+00:00,1680.0,152.0,NaN,3780.0,1180.0,NaN,NaN,NaN,NaN,...,NaN,2.46,NaN,249.0,1070.0,2370.0,82.0,236.0,403.0,63.9
10954,2006-12-29 00:00:00+00:00,1390.0,128.0,NaN,3030.0,1070.0,NaN,NaN,NaN,NaN,...,NaN,1.90,NaN,165.0,880.0,1580.0,61.0,192.0,372.0,48.4
10955,2006-12-30 00:00:00+00:00,1220.0,119.0,NaN,2580.0,1020.0,NaN,NaN,NaN,NaN,...,NaN,1.70,NaN,130.0,690.0,1150.0,47.0,167.0,334.0,45.4
10956,2006-12-31 00:00:00+00:00,1120.0,115.0,NaN,2360.0,993.0,NaN,NaN,NaN,NaN,...,NaN,1.90,NaN,180.0,830.0,1200.0,55.0,173.0,298.0,490.0
10957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df.columns.to_list()

['1010000',
 '1010070',
 '1010100',
 '1010500',
 '1011000',
 '1012515',
 '1012520',
 '1012525',
 '1012570',
 '1013500',
 '1014000',
 '1015800',
 '1016500',
 '1017000',
 '1017550',
 '1017900',
 '1017960',
 '1018000',
 '1018035',
 '1018500',
 '1019000',
 '1020000',
 '1021000',
 '1021200',
 '1021230',
 '1021466',
 '1021470',
 '1021480',
 '1021500',
 '1022210',
 '1022250',
 '1022260',
 '1022294',
 '1022295',
 '1022330',
 '1022500',
 '1022800',
 '1022835',
 '1022840',
 '1022860',
 '1023000',
 '1024200',
 '1027200',
 '1029200',
 '1029500',
 '1030000',
 '1030500',
 '1031300',
 '1031450',
 '1031500',
 '1031600',
 '1033000',
 '1033500',
 '1034000',
 '1034500',
 '1035000',
 '1036390',
 '1036500',
 '1037380',
 '1037700',
 '1038000',
 '1041000',
 '1042500',
 '1043500',
 '1044550',
 '1045000',
 '1046500',
 '1047000',
 '1047730',
 '1048000',
 '1049000',
 '1049130',
 '1049205',
 '1049218',
 '1049221',
 '1049265',
 '1049270',
 '1049300',
 '1049373',
 '1049396',
 '1049500',
 '1049550',
 '1052500',
 '1053500',
 '1054000',
 '1054200',
 '1054300',
 '1054500',
 '1055000',
 '1055220',
 '1055500',
 '1056400',
 '1056480',
 '1056505',
 '1057000',
 '1057510',
 '1058005',
 '1058500',
 '1059000',
 '1059090',
 '1059160',
 '1059800',
 '1060000',
 '1063100',
 '1063310',
 '1063452',
 '1064000',
 '1064118',
 '1064140',
 '1064158',
 '1064300',
 '1064400',
 '1064500',
 '1064801',
 '1065000',
 '1065500',
 '1066000',
 '1066500',
 '1067851',
 '1067853',
 '1068980',
 '1069500',
 '1072100',
 '1072800',
 '1072850',
 '1072870',
 '1072880',
 '1073000',
 '1073460',
 '1073500',
 '1073587',
 '1073600',
 '1073750',
 '1073785',
 '1073810',
 '1073848',
 '1074520',
 '1075000',
 '1075800',
 '1076000',
 '1076500',
 '1077000',
 '1078000',
 '1079600',
 '1079602',
 '1079900',
 '1080500',
 '1081000',
 '1081500',
 '1082000',
 '1083000',
 '1085000',
 '1085500',
 '1085800',
 '1086000',
 '1087000',
 '1088000',
 '1089000',
 '1089100',
 '1090800',
 '1091000',
 '1091500',
 '1092000',
 '1093800',
 '1093852',
 '1093875',
 '1094000',
 '1094400',
 '1094500',
 '1095220',
 '1095375',
 '1096000',
 '1096500',
 '1096503',
 '1096587',
 '1096906',
 '1096910',
 '1097000',
 '1097300',
 '1097380',
 '1097480',
 '1098320',
 '1098340',
 '1098360',
 '1098450',
 '1098500',
 '1098530',
 '1098710',
 '1099500',
 '1100000',
 '1100505',
 '1100549',
 '1100561',
 '1100568',
 '1100600',
 '1100627',
 '1101000',
 '1101500',
 '1102000',
 '1102029',
 '1102345',
 '1102500',
 '1103025',
 '1103220',
 '1103280',
 '1103305',
 '1103500',
 '1104000',
 '1104200',
 '1104405',
 '1104410',
 '1104415',
 '1104420',
 '1104430',
 '1104440',
 '1104453',
 '1104455',
 '1104460',
 '1104475',
 '1104480',
 '1104500',
 '1104615',
 '1104630',
 '1104640',
 '1104660',
 '1104687',
 '1104850',
 '1105000',
 '1105500',
 '1105554',
 '1105557',
 '1105583',
 '1105585',
 '1105600',
 '1105606',
 '1105608',
 '1105638',
 '1105730',
 '1105765',
 '1105870',
 '1105876',
 '1105880',
 '1105885',
 '1105917',
 '1105933',
 '1106000',
 '1106500',
 '1108000',
 '1108320',
 '1108410',
 '1108500',
 '1109000',
 '1109060',
 '1109070',
 '1109220',
 '1109403',
 '1109439',
 '1109500',
 '1109730',
 '1110000',
 '1110500',
 '1111050',
 '1111212',
 '1111300',
 '1111410',
 '1111500',
 '1112268',
 '1112382',
 '1112500',
 '1113695',
 '1113710',
 '1113760',
 '1113895',
 '1114000',
 '1114500',
 '1115098',
 '1115187',
 '1115500',
 '1115630',
 '1115670',
 '1115770',
 '1116000',
 '1116500',
 '1117000',
 '1117350',
 '1117370',
 '1117410',
 '1117420',
 '1117424',
 '1117430',
 '1117468',
 '1117471',
 '1117472',
 '1117500',
 '1117600',
 '1117800',
 '1118000',
 '1118010',
 '1118300',
 '1118360',
 '1118400',
 '1118500',
 '1118668',
 '1119384',
 '1119500',
 '1120500',
 '1120790',
 '1120800',
 '1121000',
 '1121330',
 '1122000',
 '1122500',
 '1123000',
 '1123360',
 '1123600',
 '1124000',
 '1124151',
 '1124350',
 '1124500',
 '1124750',
 '1125000',
 '1125100',
 '1125415',
 '1125500',
 '1127000',
 '1127880',
 '1128500',
 '1129200',
 '1129440',
 '1129500',
 '1130000',
 '1131500',
 '1133000',
 '1134500',
 '1135000',
 '1135150',
 '1135300',
 '1135500',
 '1137500',
 '1138000',
 '1138500',
 '1139000',
 '1139800',
 '1139830',
 '1139833',
 '1139838',
 '1140570',
 '1140575',
 '1140580',
 '1140590',
 '1140600',
 '1140820',
 '1141500',
 '1141800',
 '1142500',
 '1144000',
 '1144500',
 '1145000',
 '1150500',
 '1150900',
 '1151500',
 '1152500',
 '1152800',
 '1153000',
 '1153500',
 '1153550',
 '1154000',
 '1154500',
 '1155000',
 '1155500',
 '1155910',
 '1156000',
 '1157000',
 '1158000',
 '1158600',
 '1160000',
 '1160350',
 '1161000',
 '1161500',
 '1162000',
 '1162500',
 '1163200',
 '1165300',
 '1165500',
 '1166105',
 '1166500',
 '1167800',
 '1168151',
 '1168500',
 '1168639',
 '1168640',
 '1169000',
 '1169900',
 '1170000',
 '1170100',
 '1170500',
 '1170930',
 '1171300',
 '1171500',
 '1172003',
 '1172010',
 '1172500',
 '1172680',
 '1172800',
 '1173000',
 '1173500',
 '1174000',
 '1174050',
 '1174500',
 '1174565',
 '1174570',
 '1174575',
 '1174600',
 '1174900',
 '1175500',
 '1175670',
 '1176000',
 '1177000',
 '1179500',
 '1180500',
 '1180800',
 '1181000',
 '1183450',
 '1183500',
 '1183994',
 '1184000',
 '1184100',
 '1184325',
 '1184455',
 '1184470',
 '1184490',
 '1185100',
 '1185500',
 '1186000',
 '1186500',
 '1187300',
 '1187800',
 '1187830',
 '1187850',
 '1187980',
 '1188000',
 '1188090',
 '1189000',
 '1189995',
 '1190055',
 '1190057',
 '1190095',
 '1190500',
 '1191000',
 '1192370',
 '1192480',
 '1192500',
 '1192692',
 '1192704',
 '1192883',
 '1192890',
 '1193450',
 '1193465',
 '1193500',
 '1194500',
 '1195100',
 '1195117',
 '1195146',
 '1195200',
 '1195490',
 '1196210',
 '1196259',
 '1196500',
 '1196561',
 '1196620',
 '1196626',
 '1197000',
 '1197015',
 '1197500',
 '1198000',
 '1198122',
 '1198125',
 '1198200',
 '1198500',
 '1199000',
 '1199050',
 '1199200',
 '1199290',
 '1200000',
 '1200500',
 '1201487',
 '1201930',
 '1202501',
 '1203000',
 '1203510',
 '1203600',
 '1203805',
 '1204000',
 '1205500',
 '1205600',
 '1205700',
 '1206900',
 '1208500',
 '1208872',
 '1208873',
 '1208925',
 '1208950',
 '1208990',
 '1209700',
 '1209753',
 '1209761',
 '1209775',
 '1209901',
 '1211110',
 '1300000',
 '1300500',
 '1301000',
 '1301500',
 '1302000',
 '1302020',
 '1302050',
 '1302125',
 '1302500',
 '1303000',
 '1303500',
 '1304000',
 '1304500',
 '1305000',
 '1305500',
 '1306440',
 '1306460',
 '1306495',
 '1306499',
 '1306500',
 '1308000',
 '1308500',
 '1309500',
 '1309680',
 '1309950',
 '1309990',
 '1310000',
 '1310500',
 '1311000',
 '1311500',
 '1311810',
 '1311992',
 '1312000',
 '1315000',
 '1315081',
 '1315500',
 '1318500',
 '1319000',
 '1321000',
 '1325000',
 '1327500',
 '1327750',
 '1328000',
 '1329000',
 '1329490',
 '1329500',
 '1329650',
 '1330000',
 '1330500',
 '1331095',
 '1331500',
 '1332000',
 '1332500',
 '1333000',
 '1333500',
 '1334000',
 '1334500',
 '1335754',
 '1336000',
 '1343060',
 '1346000',
 '1347000',
 '1348000',
 '1349000',
 '1349150',
 '1349541',
 '1349700',
 '1349705',
 '1349711',
 '1349810',
 '1349840',
 '1349858',
 '1349900',
 '1349950',
 '1350000',
 '1350032',
 '1350035',
 '1350080',
 '1350101',
 '1350120',
 '1350140',
 '1350180',
 '1350200',
 '1350355',
 '1351500',
 '1356190',
 '1357499',
 '1357500',
 '1358000',
 '1359133',
 '1359150',
 '1359513',
 '1359519',
 '1359528',
 '1359750',
 '1359902',
 '1359918',
 '1359924',
 '1360640',
 '1361200',
 '1361500',
 '1361570',
 '1362192',
 '1362198',
 '1362200',
 '1362230',
 '1362342',
 '1362370',
 '1362380',
 '1362465',
 '1362497',
 '1362500',
 '1363382',
 '1364500',
 '1364959',
 '1365000',
 '1365500',
 '1366650',
 '1367500',
 '1367800',
 '1368000',
 '1369000',
 '1369500',
 '1371000',
 '1371500',
 '1372051',
 '1372500',
 '1374505',
 '1374531',
 '1374559',
 '1374581',
 '1374598',
 '1374654',
 '1374701',
 '1374781',
 '1374821',
 '1374890',
 '1374901',
 '1374918',
 '1374930',
 '1374941',
 '1374976',
 '1374987',
 '1375000',
 '1376280',
 '1376500',
 '1376800',
 '1377000',
 '1377370',
 '1377500',
 '1378500',
 '1379000',
 '1379500',
 '1379530',
 '1379700',
 '1379773',
 '1379780',
 '1379790',
 '1380450',
 '1381000',
 '1381400',
 '1381500',
 '1381800',
 '1381900',
 '1382500',
 '1382800',
 '1383500',
 '1384000',
 '1384500',
 '1386000',
 '1387000',
 '1387250',
 '1387400',
 '1387420',
 '1387450',
 '1387500',
 '1387890',
 '1388000',
 '1388500',
 '1389500',
 '1390450',
 '1390500',
 '1391000',
 '1391500',
 '1392210',
 '1393450',
 '1394500',
 '1395000',
 '1396000',
 '1396001',
 '1396190',
 '1396500',
 '1396580',
 '1396582',
 '1396660',
 '1396800',
 '1397000',
 '1398000',
 '1398045',
 '1398107',
 '1398500',
 '1399100',
 '1399190',
 '1399200',
 '1399500',
 '1399510',
 '1399525',
 '1399670',
 '1399690',
 '1399700',
 '1400000',
 '1400300',
 '1400350',
 '1400500',
 '1400730',
 '1401000',
 '1401650',
 '1402000',
 '1402600',
 '1403060',
 '1403150',
 '1403400',
 '1403500',
 '1403535',
 '1403540',
 '1403900',
 '1405000',
 '1405030',
 '1405400',
 '1405500',
 '1406050',
 '1407290',
 '1407500',
 '1407705',
 '1407760',
 '1408000',
 '1408029',
 '1408120',
 '1408150',
 '1408500',
 '1408900',
 '1409000',
 '1409095',
 '1409280',
 '1409400',
 '1409500',
 '1409810',
 '1410000',
 '1410150',
 '1410225',
 '1410500',
 '1410784',
 '1410787',
 '1410810',
 '1410820',
 '1411000',
 '1411300',
 '1411456',
 '1411485',
 '1411495',
 '1411500',
 '1411800',
 '1412000',
 '1412800',
 '1413088',
 '1413398',
 '1413408',
 '1413500',
 '1414000',
 '1414500',
 '1415000',
 '1417000',
 '1417500',
 '1420000',
 '1420500',
 '1420980',
 '1421000',
 '1421610',
 '1421614',
 '1421618',
 '1421900',
 '1422389',
 '1422500',
 '1422738',
 '1422747',
 '1423000',
 '1424108',
 '1425000',
 '1425642',
 '1425675',
 '1426500',
 '1427207',
 '1427500',
 '1427510',
 '1428500',
 '1428750',
 '1429000',
 '1429500',
 '1430000',
 '1431500',
 '1431620',
 '1431673',
 '1431683',
 '1431685',
 '1432000',
 '1432900',
 '1433500',
 '1434000',
 '1434013',
 '1434017',
 '1434021',
 '1434025',
 '1434072',
 '1434073',
 '1434076',
 '1434080',
 '1434084',
 '1434086',
 '1434087',
 '1434092',
 '1434105',
 '1434176',
 '1434498',
 '1435000',
 '1436000',
 '1436500',
 '1436690',
 '1437500',
 '1438500',
 '1439500',
 '1439590',
 '1440000',
 '1440272',
 '1440400',
 '1440485',
 '1441495',
 '1442500',
 '1443280',
 '1443500',
 '1443900',
 '1445000',
 '1445430',
 '1445500',
 '1446000',
 '1446500',
 '1446600',
 '1446700',
 '1446775',
 '1446776',
 '1447500',
 '1447550',
 '1447680',
 '1447720',
 '1447800',
 '1448500',
 '1449000',
 '1449360',
 '1449500',
 '1449800',
 '1450020',
 '1450500',
 '1451000',
 '1451420',
 '1451500',
 '1451650',
 '1451800',
 '1452000',
 '1452500',
 '1453000',
 '1454700',
 '1455160',
 '1455500',
 '1457000',
 '1457790',
 '1458900',
 '1459500',
 '1460440',
 '1460800',
 '1460880',
 '1461300',
 '1463500',
 '1463587',
 '1463620',
 '1463657',
 '1463690',
 '1464000',
 '1464500',
 '1464525',
 '1464645',
 '1464710',
 '1464720',
 '1464741',
 '1464750',
 '1464907',
 '1464930',
 '1464984',
 '1465050',
 '1465500',
 '1465770',
 '1465785',
 '1465790',
 '1465798',
 '1465850',
 '1466000',
 '1466500',
 '1466900',
 '1467000',
 '1467019',
 '1467021',
 '1467036',
 '1467042',
 '1467043',
 '1467048',
 '1467049',
 '1467050',
 '1467081',
 '1467083',
 '1467084',
 '1467085',
 '1467086',
 '1467087',
 '1467089',
 '1467150',
 '1467470',
 '1467471',
 '1467492',
 '1467688',
 '1467689',
 '1467752',
 '1467861',
 '1468500',
 '1469500',
 '1469700',
 '1470500',
 '1470720',
 '1470729',
 '1470756',
 '1470779',
 '1470853',
 '1470960',
 '1471000',
 '1471510',
 '1471700',
 '1471710',
 '1471800',
 '1471835',
 '1471845',
 '1471875',
 '1471900',
 '1471980',
 '1472000',
 '1472157',
 '1472174',
 '1472186',
 '1472198',
 '1472199',
 '1472620',
 '1472810',
 '1473000',
 '1473120',
 '1473169',
 '1473500',
 '1473870',
 '1473900',
 '1473950',
 '1474000',
 '1474500',
 '1475001',
 '1475300',
 '1475510',
 '1475530',
 '1475545',
 '1475548',
 '1475550',
 '1475850',
 '1476030',
 '1476480',
 '1477000',
 '1477120',
 '1477800',
 '1478000',
 '1478040',
 '1478137',
 '1478245',
 '1478500',
 '1478650',
 '1479000',
 '1479197',
 '1479676',
 '1479678',
 '1479820',
 ...]

In [28]:
from tqdm import tqdm

In [32]:
split_sites = np.array_split(df.columns, 50)
info = []
for s in tqdm(split_sites):
    info.append(nwis.get_info(sites=s))

  0%|                                                    | 0/50 [00:00<?, ?it/s]

ValueError: Bad Request, check that your parameters are correct. URL: https://waterservices.usgs.gov/nwis/site?sites=datetime%2C1010000%2C1010070%2C1010100%2C1010500%2C1011000%2C1012515%2C1012520%2C1012525%2C1012570%2C1013500%2C1014000%2C1015800%2C1016500%2C1017000%2C1017550%2C1017900%2C1017960%2C1018000%2C1018035%2C1018500%2C1019000%2C1020000%2C1021000%2C1021200%2C1021230%2C1021466%2C1021470%2C1021480%2C1021500%2C1022210%2C1022250%2C1022260%2C1022294%2C1022295%2C1022330%2C1022500%2C1022800%2C1022835%2C1022840%2C1022860%2C1023000%2C1024200%2C1027200%2C1029200%2C1029500%2C1030000%2C1030500%2C1031300&siteOutput=Expanded&format=rdb

In [30]:
dfi = pd.concat([x[0] for x in info])

ValueError: No objects to concatenate

In [120]:
dfi.columns

Index(['agency_cd', 'site_no', 'station_nm', 'site_tp_cd', 'lat_va', 'long_va',
       'dec_lat_va', 'dec_long_va', 'coord_meth_cd', 'coord_acy_cd',
       'coord_datum_cd', 'dec_coord_datum_cd', 'district_cd', 'state_cd',
       'county_cd', 'country_cd', 'land_net_ds', 'map_nm', 'map_scale_fc',
       'alt_va', 'alt_meth_cd', 'alt_acy_va', 'alt_datum_cd', 'huc_cd',
       'basin_cd', 'topo_cd', 'instruments_cd', 'construction_dt',
       'inventory_dt', 'drain_area_va', 'contrib_drain_area_va', 'tz_cd',
       'local_time_fg', 'reliability_cd', 'gw_file_cd', 'nat_aqfr_cd',
       'aqfr_cd', 'aqfr_type_cd', 'well_depth_va', 'hole_depth_va',
       'depth_src_cd', 'project_no'],
      dtype='object')

In [ ]:
dfi[0101000]

write as csv or parquet file